[2015-08-30 14:47] facetoe opened #1 "Add View Endpoint"
https://developer.zendesk.com/rest_api/docs/core/views

[2015-08-30 14:51] facetoe opened #2 "Add modifiers to Endpoints"
sort_order, sort_by etc

[2015-09-12 05:50] facetoe opened #3 "Requests Endpoint"
https://developer.zendesk.com/rest_api/docs/core/requests

[2015-09-12 05:51] facetoe opened #4 "Ticket Audit Endpoint"
https://developer.zendesk.com/rest_api/docs/core/ticket_audits

[2015-09-12 05:52] facetoe opened #5 "Ticket Field Endpoint"
https://developer.zendesk.com/rest_api/docs/core/ticket_fields

[2015-09-12 05:53] facetoe opened #6 "Ticket Forms Endpoint"
https://developer.zendesk.com/rest_api/docs/core/ticket_forms

[2015-09-12 05:54] facetoe opened #7 "Ticket Import Endpoint"
https://developer.zendesk.com/rest_api/docs/core/ticket_import

[2015-09-12 05:55] facetoe opened #8 "Ticket Metrics Endpoint"
https://developer.zendesk.com/rest_api/docs/core/ticket_metrics

[2015-09-12 05:56] facetoe opened #9 "User Fields Endpoint"
https://developer.zendesk.com/rest_api/docs/core/user_fields

[2015-09-12 05:57] facetoe opened #10 "User Identities Endpoint"
https://developer.zendesk.com/rest_api/docs/core/user_identities

[2015-09-12 05:57] facetoe opened #11 "End Users Endpoint"
https://developer.zendesk.com/rest_api/docs/core/end_user

[2015-09-12 05:59] facetoe opened #12 "Group Memberships Endpoint"
https://developer.zendesk.com/rest_api/docs/core/group_memberships#content

[2015-09-12 06:00] facetoe opened #13 "Custom Agent Roles Endpoint"
https://developer.zendesk.com/rest_api/docs/core/custom_roles

[2015-09-12 06:01] facetoe opened #14 "Account Settings Endpoint"
https://developer.zendesk.com/rest_api/docs/core/account_settings

[2015-09-12 06:02] facetoe opened #15 "Activity Stream Endpoint"
https://developer.zendesk.com/rest_api/docs/core/activity_stream

[2015-09-12 06:03] facetoe opened #16 "Audit Logs Endpoint"
https://developer.zendesk.com/rest_api/docs/core/audit_logs

[2015-09-12 06:05] facetoe opened #17 "Automations Endpoint"
https://developer.zendesk.com/rest_api/docs/core/automations

[2015-09-12 06:07] facetoe opened #18 "Dynamic Content Endpoint"
https://developer.zendesk.com/rest_api/docs/core/dynamic_content

[2015-09-12 06:09] facetoe opened #19 "Satistfaction Ratings Endpoint"
https://developer.zendesk.com/rest_api/docs/core/satisfaction_ratings

[2015-09-12 06:10] facetoe opened #20 "Suspended Tickets Endpoint"
https://developer.zendesk.com/rest_api/docs/core/suspended_tickets

[2015-09-12 06:11] facetoe opened #21 "Tags Endpoint"
https://developer.zendesk.com/rest_api/docs/core/tags

[2015-09-12 06:13] #5 closed

[2015-09-12 06:13] #9 closed

[2015-09-12 06:14] facetoe opened #22 "Documentation"
Document code with Sphinx or similar.

[2015-09-12 07:29] #4 closed

[2015-09-12 11:55] #2 closed

[2015-09-12 14:41] #21 closed

[2015-09-13 02:47] facetoe commented on #20
25c2fa782f2d44792745e00a0714dc4caaf1bee4

[2015-09-13 02:47] #20 closed

[2015-09-13 04:17] facetoe commented on #19
c8127b7408b88960dce68a863cfb2304ae86abe8

[2015-09-13 04:17] #19 closed

[2015-09-13 05:05] facetoe commented on #15
01daf2f1c7ec966e20aa50b2f6cbe2c90ce53077

[2015-09-13 05:05] #15 closed

[2015-09-13 06:48] #17 closed

[2015-09-13 06:50] facetoe commented on #16
Can't test without Enterprise.

[2015-09-13 07:07] #14 closed

[2015-09-13 07:08] #13 closed

[2015-09-20 03:59] facetoe commented on #12
Might need to add a new kind of endpoint as multiple IDs are required for some calls.

[2015-09-20 04:46] facetoe commented on #11
d3261020d9af3e8e7c426f5247a85086005ab834

[2015-09-20 04:46] #11 closed

[2015-09-20 05:07] facetoe commented on #8
7b7d346fb9252bc44e9f58dc2de1d617554c40ed

[2015-09-20 05:07] #8 closed

[2015-09-20 05:28] facetoe commented on #7
537b4b447cae120d88e7de44f005ada25f7a4ebd

[2015-09-20 05:28] #7 closed

[2015-09-22 15:59] konradko opened #23 "Unspecified versions of requirements"
Version numbers of 3rd party packages are unspecified in the setup: https://github.com/facetoe/zenpy/blob/master/setup.py#L16

Issues like https://github.com/koalalorenzo/python-digitalocean/issues/88 can occur because of that.

[2015-09-23 10:19] facetoe commented on #23
Thanks for the heads up @konradko, I've updated the package.

[2015-09-23 10:19] #23 closed

[2015-10-13 21:50] Black-Milk opened #24 "How to bulk update tags on tickets after doing bulk ticket creation?"
I'm following your `job status` example for bulk ticket creation; however, I'm not sure how I would then update the ticket tags or ticket descriptions using the generator object. The documentation is rather sparse and does not indicate how to do this.

[2015-10-13 22:58] facetoe commented on #24
I know the documentation definitely needs work! I hope to get some more done soon.

You can set the tags and description when creating the ticket by passing them as parameters when creating the Ticket object:

[code]

Unfortunately my test Zendesk account has expired so I can't test this, however I believe you can poll the JobStatus object to retrieve the ticket ID's as they are created. For examp

[2015-10-17 00:55] #24 closed

[2015-10-27 19:05] Black-Milk commented on #24
Thank you!

[2015-10-29 15:57] dangerwheeler opened #25 "Ticket form property on Ticket"
Great library.

I'd like to set a ticket form id when I create a ticket. Doesn't look like this is currently possible. Looking at https://developer.zendesk.com/rest_api/docs/core/tickets, I think it's just: ticket_form_id.

[2015-10-30 11:04] facetoe opened #26 "Properly support Ticket Forms."
https://developer.zendesk.com/rest_api/docs/core/ticket_forms

[2015-10-30 11:25] facetoe commented on #25
Hi @dangerwheeler,

I've added an issue (#26) to properly support ticket forms, however I can suggest a workaround that might work for you now, although I can't test it as I don't have an enterprise account. When the `Ticket` object (or any api object) is serialized into JSON for submission to Zendesk all of it's attributes are serialized as well, so it *should* be as simple as just setting that a

[2015-11-01 01:34] facetoe commented on #6
change to 1.1, need enterprise account

[2015-11-01 01:34] #6 closed

[2015-11-01 02:54] facetoe opened #27 "Custom Roles"
https://developer.zendesk.com/rest_api/docs/core/custom_roles

Need Enterprise to test.

[2015-11-01 03:29] facetoe opened #28 "Ticket Fields"
https://developer.zendesk.com/rest_api/docs/core/ticket_fields

[2015-11-01 04:13] facetoe commented on #28
Reading is supported but not updating/creating etc.

[2015-11-18 16:08] hugoeloue opened #29 "query on users"
Hello,

How can I get a user thanks to his email ?
zenpy.users(email="theemailadress") doesnt work. I got a resultgenerator instead of an object.

Regards

HW

[2015-11-20 04:47] facetoe commented on #29
You're better off using the `search` endpoint for this. Eg,

[code]

The `users` endpoint only supports the calls defined in the documentation for Zendesk - https://developer.zendesk.com/rest_api/docs/core/users, so you can't retrieve a user by email, only by id.

[2015-11-20 04:47] #29 closed

[2015-11-20 04:49] #25 closed

[2015-11-25 17:43] farberjd opened #30 "Sort Example"
Can you please update the readme to provide an example on how to query or search with a sort_by parameter?

[2015-11-27 02:30] facetoe commented on #30
Hi @farberjd,

I've updated the README with an example for the search endpoint.

[2015-11-27 02:30] #30 closed

[2015-11-30 15:23] farberjd commented on #30
Thanks mate.

[2015-12-03 11:59] muzhig opened #31 "No way to use existing requests.Session object"

[2015-12-05 00:36] facetoe commented on #31
@muzhig Fixed in e86dd44b3b1a67e94d40281de136baaf9523dd6d

[2015-12-05 00:36] #31 closed

[2015-12-06 04:29] facetoe commented on #22
facab159f1d98093f7f702591ebbe372c66f3ba7

[2015-12-06 04:29] #22 closed

[2015-12-06 08:06] facetoe commented on #3
ddd5cf88561b2a62d977d3a4302b887815db8546

[2015-12-06 08:06] #3 closed

[2015-12-27 14:46] berrytsakala opened #33 ""objects" directory was there? and now it's gone?"
I installed zenpy from source about 2 weeks ago.
it included "/objects/" subdirectory.

Today I can't find the "objects" subdir (neither in pipy nor in github).
Where did it go?
Am I missing something?

[2015-12-27 23:57] facetoe commented on #33
Yes you are correct @berrytsakala, the `objects` directory is no more. As the objects are generated automatically I moved them all into a single file - https://github.com/facetoe/zenpy/blob/master/zenpy/lib/api_objects.py.

[2015-12-28 23:43] #33 closed

[2016-01-08 05:10] dangerwheeler opened #34 "Avoid setting logging options"
Setting the logging options in https://github.com/facetoe/zenpy/blob/master/zenpy/__init__.py wreaks havoc on the logging configuration of consumers of the module. I would recommend removing the logging configuration and simply let ZenPy consumers handle it.

[2016-01-08 10:36] facetoe commented on #34
Good point @dangerwheeler, I've removed the offending code (20f1bcc06bd7c5d1df093d9fe260435780ffb513). Thanks for the suggestion!

[2016-01-08 10:36] #34 closed

[2016-01-08 15:16] dangerwheeler commented on #34
Epic! Thanks!

[2016-01-08 15:32] facetoe commented on #34
No worries :)

[2016-02-11 16:51] mattKaczorowski opened #36 "Search Organization by external_id"
Having this feature would be awesome! https://developer.zendesk.com/rest_api/docs/core/organizations#search-organizations-by-external-id

It would be awesome if we could do the same for end_users as well.

[2016-02-11 16:52] mattKaczorowski opened #37 "OranizationApi - spelling"
OranizationApi vs OrganizationApi

https://github.com/facetoe/zenpy/blob/master/zenpy/lib/api.py#L547

[2016-02-11 23:29] facetoe commented on #36
This looks pretty straight forward, I'll have a go at implementing it tonight. With the end_user one it doesn't look like the API supports that functionality directly, however this should work:

[code]

[2016-02-11 23:33] facetoe commented on #37
Haha nice spot!

[2016-02-11 23:33] #37 closed

[2016-02-12 15:30] mattKaczorowski commented on #36
Awesome, thanks for the tip! :+1:

[2016-02-14 02:26] #36 closed

[2016-02-17 15:00] mattKaczorowski opened #40 "Can we add support for create_or_update User?"
https://developer.zendesk.com/rest_api/docs/core/users#create-or-update-user

If the client supports this, please forgive my ignorance.

[2016-02-17 15:37] mattKaczorowski opened #41 "Is it time to cut a new release?"
Hi facetoe,

Thank you for implementing my request with issue #36. I am hoping to use the latest changes in production very soon. Is the current state of master ready for version 1.0.3? :smile:

[2016-02-17 23:44] facetoe commented on #40
This is pretty cool, is it a new feature? I don't remember seeing it when I was writing the user api part. Yes it looks easy to implement, I'll try to get to it this weekend.

[2016-02-17 23:46] facetoe commented on #41
Sure @mattKaczorowski, not a problem. How about I implement #40 and then create the release?

[2016-02-17 23:50] mattKaczorowski commented on #41
Sounds good to me! Thanks for the quick response :+1:

[2016-02-17 23:50] rishi-freshbooks commented on #41
@facetoe Hey! Do you mind creating a release before implementing https://github.com/facetoe/zenpy/issues/40? It will save us the trouble of using your latest work https://github.com/facetoe/zenpy/commit/e824deb0d04864034163d9c7417537709f62c97b

[2016-02-17 23:56] mattKaczorowski commented on #41
@facetoe #40 is not a super high priority at the moment, it could wait until 1.0.4. I would not mind if you went ahead and satisfied @rishi-freshbooks request.

[2016-02-17 23:56] facetoe commented on #41
Sure, not a problem, I've created 1.0.3.

[2016-02-17 23:57] mattKaczorowski commented on #41
:clap:

[2016-02-17 23:57] facetoe commented on #41
:)

[2016-02-17 23:57] #41 closed

[2016-02-17 23:59] rishi-freshbooks commented on #41
Thank you so much!

[2016-02-18 00:03] facetoe commented on #41
No worries!

[2016-02-19 14:09] rishi-freshbooks commented on #40
This would be awesome! Would help reduce the number of API requests :smile:

[2016-02-20 00:03] facetoe commented on #40
All done, let me know if you guys have any issues with the new method.

[2016-02-20 00:03] #40 closed

[2016-02-20 00:59] facetoe opened #42 "create_or_update_many returns 403"
I think this is a bug in Zendesk as even their example returns a 403:

[code]

[2016-02-20 01:14] facetoe commented on #42
Filed a bug with Zendesk.

[2016-02-23 12:01] facetoe commented on #42
Doesn't work in trial mode, should work for enterprise customers.

[2016-02-23 12:01] #42 closed

[2016-03-02 15:48] alekaizer opened #43 "User's related information"
Hi guys,

Is there a way to get user's related information based on his name or his id like:

    zenpy.search("john doe", type='user', related_information=True)

?

I would like to get users infos and his number of requested tickets or opened tickets.

[2016-03-02 20:05] alekaizer commented on #43
updated the package, get the related method in the UserApi class
Thanx

[2016-03-02 20:05] #43 closed

[2016-03-08 19:45] plockxng opened #44 "Issue creating a new 'User' object"
Hi,

First and foremost, thanks for this zendesk api wrapper.

After reading through the zenpy documentation though, I am having trouble creating new users.

After logging in with my credentials:
[code]

I can make zenpy queries on zenpy.users (etc.), but when I try to create a new user:
[code]
I get the following error message:
[code]
This was the example given in the [documentation](https://face

[2016-03-09 00:43] facetoe commented on #44
Hi Preston,

The docs are missing some crucial information, so thanks for bringing this to my attention! You need to import the `User` object before you can use it. Try the following:

[code]

I'll update the docs and add the location of all the API objects (they are all in `zenpy.lib.api_objects`).

[2016-03-09 01:00] plockxng commented on #44
Hi facetoe,

Ah now I see it! Thanks for the quick response.

Best,
Preston

[2016-03-14 16:40] aursog opened #45 "Mock over zenpy"
Hi,

It's any way to make a mock to the tickets library?. For example, make a mock to zenpy.tickets.create function?

I make a mock, but the test not working, the call_count give me 0 value (i try with zenpy.lib.api.TicketApi.create, zenpy.lib.api.CRUDApi.create, with the same result).

Thanks

[2016-03-14 18:13] #45 closed

[2016-03-14 18:15] aursog commented on #45
My bad, the method to construct a mock is

with mock.patch("zenpy.lib.api.TicketApi.create")

sorry :P

[2016-03-24 00:55] theoschao opened #46 "SearchEndpoint improper query string generation"
It seems that the if-elif conditions defined in SearchEndpoint don't properly handle cases when the value is a datetime object OR the value is of list type and key == ids.  In order for those arguments to make it into the final query string, they can't be handled as elif conditions.  They should probably be their own if conditions so that the code can fall through to assessment of the keys, and th

[2016-03-26 02:31] facetoe commented on #46
Hi @theoschao, thanks for the bug report! Could you provide an example where the `SearchEndpoint` creates an incorrect query string? The code there is a little messy but from your description of the problem I think it should still work as intended as the `value` can only ever be one of those cases at any given iteration of the loop. An example will help clear things up!

[2016-03-26 06:38] #44 closed

[2016-03-30 11:52] #46 closed

[2016-03-31 13:24] facetoe opened #47 "Add OAuth Support"
https://developer.zendesk.com/rest_api/docs/core/introduction#oauth-access-token

[2016-04-01 00:27] facetoe commented on #47
Need to update docs.

[2016-04-06 01:27] ihaveajob opened #49 "Add a comment to a ticket"
I'm trying to facilitate the work of our agents by adding a private comment to each incoming ticket, where we specify a few additional details about the requester, specific to our service. However, I can't figure out if it's possible to create a comment, either public or private, for a given ticket. Is this implemented at all? If not, any chance it will be?

[2016-04-06 03:15] facetoe commented on #49
Yes this is implemented, although it's not exactly obvious how to go about it. The following example will create a private comment on the ticket with an id of 2:

[code]
There is a hint that this is possible in the docs regarding object serialization (https://facetoe.com.au/zenpy/docs/api_objects.html#object-serialization) however it's not the best example. I will update the docs using this exampl

[2016-04-06 03:52] ihaveajob commented on #49
Much appreciated, thanks for the rapid response!

[2016-04-06 03:53] facetoe commented on #49
No worries!

[2016-04-10 02:16] #47 closed

[2016-04-13 22:31] Myst3ri0n commented on #28
Hello,

I'm trying to understand how to pull basic ticket info like the title, status, and organization. I'm having a hard time figuring out how to do that from the docs. I'm able to do a search and get all of my active tickets, but that's as far as I got, any help would be appreciated.

[2016-04-14 00:32] facetoe commented on #28
Hi @Myst3ri0n,

The Ticket object contains this information, eg:

[code]
The full list of available attributes for the ticket object can be found here - https://facetoe.com.au/zenpy/docs/api_objects.html#zenpy.lib.api_objects.Ticket

[2016-04-14 12:03] Myst3ri0n commented on #28
Hi @facetoe ,

Thanks for your reply! I was able to get almost all the fields I needed with your help. But I see that the assignee_updated is under ticket_metrics. Looking at the code of the module I thought I had it figured out, but I get an error. Any ideas?

Thanks for your help!

[code]

I get the following error: **AttributeError: 'ResultGenerator' object has no attribute 'assignee_updated'**

[2016-04-14 12:54] facetoe commented on #28
You're almost there. The `ticket_metrics` endpoint returns multiple items (as a generator) not a single item. Try:

[code]

[2016-04-14 13:12] cblaupanda opened #51 "zenpy hangs"
Hi There

I have a problem where regularly my zenpy client just hangs without throwing an exception...

Here my code....

[code]

I assume I am hitting rate limit or something but it is not caught by the timeout either. I found this article regarding best practices on rate limit. https://support.zendesk.com/hc/en-us/articles/203691336-Best-practices-for-avoiding-rate-limiting

Any suggestions what

[2016-04-14 13:28] facetoe commented on #51
Hi @cblaupanda,

If you are hitting the rate limit Zenpy will wait the required period of time before [retrying](https://github.com/facetoe/zenpy/blob/master/zenpy/lib/api.py#L54) the request and it will also log that this is happening. As a first step it would be a good idea to enable logging to verify that you are being rate limited. Try adding the following to your code above and see if it repo

[2016-04-14 13:35] Myst3ri0n commented on #28
Thanks for the quick reply, I used your exact code from above and put in a valid ticket number, one that was just opened this morning, and I'm slightly confused by the output. I expected to get one result returned, a none, since the ticket hasn't been updated yet, but instead I got hundreds of dates spit out, and it kept going, I had to kill the process. Any insight would be most helpful.

[2016-04-14 14:09] facetoe commented on #28
My bad, the correct code is:

[code]

This returns the ticket metric for the ticket with an id of 2. The `ticket_metric` endpoint is a primary endpoint, so in the code:

[code]
the `ticket_id` keyword argument is ignored, leading to all ticket metrics being returned (which would be a lot). The `ticket_metric` endpoint is to be used when you want to retrieve a `TicketMetric` by it's id, the `ticket

[2016-04-14 14:24] cblaupanda commented on #51
it hang now for more than 30 minutes so I hit Ctrl-C. Here the output:
[code]

I will test with the logging enabled and let you know.

Many thanks!

[2016-04-14 14:37] facetoe commented on #51
Hmm looks like it is hanging in the `_get` method that handles rate limiting. Let me know what you find when logging is enabled, there could be a bug in how Zenpy handles the rate limiting as it's not something I've hit often.

[2016-04-14 14:58] cblaupanda commented on #51
it just hangs here...

[code]

[2016-04-14 15:17] Myst3ri0n commented on #28
Thanks! That worked great! Your explanation makes sense, I appreciate you working with a noob! Thanks for taking the time to build this module! I plan on using it quite a bit to load data into pandas and build statistics on the data to help my team and me stay on top of tickets!

[2016-04-14 18:36] facetoe commented on #51
Hmm, doesn't look like you're being rate limited. If you paste that URL in a browser does it also hang?

[2016-04-14 18:37] facetoe commented on #28
No worries! Glad it's working :)

[2016-04-14 23:48] Myst3ri0n commented on #28
Hi Sorry to keep bugging you, but I'm having trouble with grabbing user fields.

I have looked over the module code, and compared to where you pointed me last time, I thought for sure this would work:

[code]
but I get the following error: **zenpy.lib.exception.RecordNotFoundException: {"description": "Not found", "error": "RecordNotFound"}**

I was able to get this to work, but it outputs all use

[2016-04-15 00:36] facetoe commented on #28
The `RecordNotFoundException` means there is no user with that id. The code:

`zenpy.users(user_id=123)`

is equivilent to:

`zenpy.users()`

which returns all users as the keyword argument `user_id` is ignored.

It might be useful if you turn debugging on so you can observe the API requests that are being made. Try adding the following code to enable debugging:

[code]

[2016-04-15 02:43] Myst3ri0n commented on #28
So I ran the one that pulls all users and grabbed their id and passed it to the other code that I based above that returned the error and this what I got along with the error.

[code]

Thanks

[2016-04-15 07:38] cblaupanda commented on #51
okay.... here I just got the exception without cancelling the script.

[code]

[2016-04-15 08:56] facetoe commented on #28
No worries.

[2016-04-15 09:32] facetoe commented on #51
I think this is an error in the requests library not Zenpy. I found a similar bug report here - https://github.com/kennethreitz/requests/issues/2364. Are you behind a proxy at all?

[2016-04-15 13:35] Myst3ri0n commented on #28
Any ideas on what would cause that when using a known good id?

[2016-04-15 13:53] facetoe commented on #28
This looks like a bug actually. I'll have a look tomorrow as I need to set up a test Zendesk with user fields to troubleshoot further.

[2016-04-15 13:58] Myst3ri0n commented on #28
Ok, that sounds good. Just quick question to make sure I'm trying to approach this correctly. When you say user fields, you mean fields like name, email etc. Because that's what I'm trying to accomplish. Basically I have all the ticket info loaded into a table. But he requester and assignee is stored as an ID so I need to get all the basic user info with their id so I can do a join and get the act

[2016-04-15 14:35] facetoe commented on #28
Nope I'm talking about https://developer.zendesk.com/rest_api/docs/core/user_fields. You need to check out the docs on the User object - https://facetoe.com.au/zenpy/docs/api_objects.html#zenpy.lib.api_objects.User.

Please read the documentation, both Zendesk's (https://developer.zendesk.com/rest_api/docs/core/introduction) and Zenpy's (https://facetoe.com.au/zenpy/docs/) before posting any more

[2016-04-15 14:35] #28 closed

[2016-04-18 20:59] rishi-freshbooks commented on #10
Hey! When do you anticipate implementing this?

[2016-04-19 00:01] facetoe commented on #10
Hi @rishi-freshbooks, I'll see if I can get to it this weekend.

[2016-04-28 16:48] rishi-freshbooks opened #52 "Users endpoint not sideloading organizations, etc."
Hey!
The users endpoint does not seem to side load organizations.
https://github.com/facetoe/zenpy/blob/master/zenpy/lib/endpoint.py#L243

The http request does show the query parmater
`https://test.zendesk.com/api/v2/users/1.json&include=organizations,abilities,roles,identities,groups`

but I am unable to access organizations on the result, for example:
[code]

[2016-04-29 00:46] facetoe commented on #52
Hi @rishi-freshbooks, It's a bit funny how Zendesk organized this. Each `User` is tied to one organization when you query the user API (https://developer.zendesk.com/rest_api/docs/core/users) and can be retrieved via the `organization` property in Zenpy:

[code]
There is also an organizations endpoint (https://developer.zendesk.com/rest_api/docs/core/organizations) which takes a `User` id and retu

[2016-04-29 11:47] rishi-freshbooks commented on #52
Thanks @facetoe! Is there a way to link a user to more than 1 organization?

[2016-04-29 12:02] facetoe commented on #52
Zenpy doesn't support this directly however it would be easy to do in your own code with the `users.organizations` endpoint.

[2016-04-29 21:57] rishi-freshbooks commented on #52
Factoe would you be able to implement this endpoint? https://developer.zendesk.com/rest_api/docs/core/organization_memberships

[2016-04-30 00:05] facetoe commented on #52
Ahh most definitely, that looks really handy. I'll create an issue for it and try to implement it in the next week or so. Good spot!

[2016-04-30 00:07] facetoe opened #53 "Organization Memberships Endpoint"
https://developer.zendesk.com/rest_api/docs/core/organization_memberships
Requested in #52.

[2016-04-30 00:07] #52 closed

[2016-05-01 06:12] facetoe commented on #52
Hi @rishi-freshbooks, I've implemented part of the functionality for organization memberships in a9c4ba221848a973629b92710b4bbf840d10b1af. You can query organization memberships:

[code]
And also create and delete them:

[code]

There is some functionality I didn't implement as I figured it was unlikely to be used. If you want to use any of the un-implemented functionality let me know and I will h

[2016-05-01 06:25] #53 closed

[2016-05-01 13:32] rishi-freshbooks commented on #52
Thanks @facetoe! This is great. Do you mind bumping the version and creating a tag, so we can install this new endpoint :smile: ?

[2016-05-01 23:40] facetoe commented on #52
No worries, it's done!

[2016-05-03 06:44] urishalit opened #54 "Incremental Ticket Metrics Event support"
Hi,
First of all let me say, great module! Really helped me out. I did though find the [incremental ticket metrics](https://developer.zendesk.com/rest_api/docs/core/incremental_export#incremental-ticket-metric-event-export) missing.

I opened a branch and added it myself, but I do not have permissions to publish the branch and open a pull request.

I would love for this to be added (through my PR

[2016-05-03 07:01] #54 closed

[2016-05-04 02:39] opkorz opened #56 "Ticket update returning weird error from api_objects"
So I'm trying out zenpy for editing tickets but when I'm trying update it I receive this weird error:

`>>> ticket = zend.tickets.get_ticket(38884)`
`>>> ticket.tags.append(u'wrapper_testing')`
`>>> zend.tickets.update(ticket)`
`Traceback (most recent call last):`
`  File "<stdin>", line 1, in <module>`
`  File "/home/xander-lubuntu/.virtualenvs/sabackend/local/lib/python2.7/site-packages/zenpy/li

[2016-05-04 10:42] facetoe commented on #56
Hi @opkorz,

This error is a bug, and I'll push a fix tonight, however I should point out that you are retrieving the ticket in a way that I did not intend. The correct way to retrieve a ticket is:

[code]
The `get_ticket` method is actually used internally by other objects that have a ticket property and is not meant to be used directly. I can see that it's presence in the ticket api is confusing

[2016-05-04 10:42] #56 closed

[2016-05-04 11:02] facetoe opened #57 "Make internal Zenpy methods private"
#56

[2016-05-04 12:55] #57 closed

[2016-07-06 21:37] rishi-freshbooks opened #58 "Retrying on DatabaseDeadlock and DatabaseConflict errors returned by Zendesk"
We sporadically see these errors in our logs:
[code]
and
[code]

According to the [docs](https://developer.zendesk.com/rest_api/docs/core/introduction#500-range), the Zendesk API:

Do you think zenpy can acknowledge this header and retry the request before raising APIException?

[2016-07-06 23:34] facetoe commented on #58
Interesting! Zenpy *should* already handle the Retry-After header for get requests (https://github.com/facetoe/zenpy/blob/master/zenpy/lib/api.py#L53), however it doesn't yet for Post and Put. It is possible that the action being peformed is using one of these methods. I'll have a look at fixing this for Post and Put and we can see if the error dissapears.

[2016-07-07 12:09] rishi-freshbooks commented on #58
In our use-case, the action being performed is Post and Put.

Thank you!!

[2016-07-10 04:13] facetoe commented on #58
I've made the fix and pushed a new version. Let me know if you are still seeing the Exceptions in the logs after updating.

[2016-07-13 18:26] jdsadow opened #59 "Cache should require TTL and otherwise creates errors"
calling `set_cache_implementation()` or `set_cache_max()` results in an error at https://github.com/facetoe/zenpy/blob/master/zenpy/lib/cache.py#L68 because `cachetools` expects a value for TTL but that is not specified as a requirement in the above functions

you can get it to work by adding a `**kwarg` of `ttl=N` but this should be specified

[2016-07-13 20:38] rishi-freshbooks commented on #58
Thanks! Saw this today in our logs:
[code]
Tough to say if the transaction was retried.

[2016-07-13 23:40] facetoe commented on #58
Hmm, that's too bad. I think it is likely that this error did not include the 503 header and as such wasn't retried however it's hard to say without additional logging. I'll patch the code tonight to include a little more information in the error message (HTTP error code, traceback) to help get to the bottom of this.

[2016-07-13 23:44] facetoe commented on #59
Good point @jdsadow, I'll add this info to the docs.

[2016-07-20 11:48] rishi-freshbooks commented on #58
Thanks! Would you mind also logging the "X-Zendesk-Request-Id" header (https://developer.zendesk.com/rest_api/docs/core/introduction#500-range)

Apparently:

which will help us escalate issues to Zendesk.

[2016-07-20 12:30] facetoe commented on #58
Sorry I forgot about this issue! Zenpy now logs the error code and headers for responses that are not in the 200 range. Are you able to increase the logging level to debug and run the code from master?

[2016-07-20 12:35] rishi-freshbooks commented on #58
Unfortunately we cannot run code from master in production.
We can increase logging level to debug.
Thanks!

[2016-07-20 12:36] facetoe commented on #58
Ok no problem, I'll push a new version.

[2016-07-20 12:45] facetoe commented on #58
All done!

[2016-07-20 12:48] rishi-freshbooks commented on #58
Thanks! Will get this to production and let you know how it goes.

[2016-07-20 12:50] facetoe commented on #58
Awesome, will be interesting to hear what you find out.

[2016-07-24 08:49] #59 closed

[2016-07-26 13:30] rishi-freshbooks commented on #58
The logging worked well! Thanks again 😄

[2016-07-26 13:33] facetoe commented on #58
Good to hear! I'll mark this issue as closed but feel free to open it again if you have any more trouble with deadlocks etc.

[2016-07-26 13:33] #58 closed

[2016-08-16 03:15] mafrul opened #61 "Couldn't upload attachment in the Zendesk using Python API Clients"
I have tried with upload an attachment to Zendesk using Python Client Library by Facetoe(https://github.com/facetoe/zenpy)
But it is not working here. Please see below my source code
[code]

Please give me a solution how can i upload an attachment in Zendesk Using Python Client API and update the ticket with attachment. Waiting for your kind response.

[2016-08-16 08:20] mafrul commented on #49
How could i Comment with attachment ?

[2016-08-16 13:22] facetoe commented on #61
Currently the attachment endpoint only supports reading, however it shouldn't be too hard to modify it to support pushing attachments. I will try to get to this sometime this week or on the weekend.

[2016-08-18 19:26] apodolny opened #62 "Retry-After Leads to Error"
When zenpy gets a retry-after response from the server, it seems to wait the appropriate number of seconds and then immediately throws an error:

`WARNING:zenpy.lib.api:Waiting for requested retry-after period: 8 seconds
Traceback (most recent call last):
  File "random_forest_web.py", line 84, in <module>
    new_tickets = zp.tickets.incremental(start_time=last_result_time)
  File "/anaconda/lib/

[2016-08-18 23:39] facetoe commented on #62
Thanks for the bug report. This is a regression introduced a few months ago, I'll fix it tonight and push an updated package.

[2016-08-20 01:40] facetoe commented on #62
Thanks again for the report @apodolny, let me know if you run into any further issues with the latest version (1.1.2).

[2016-08-20 01:40] #62 closed

[2016-08-21 09:33] facetoe commented on #61
@mafrul you can now upload attachments and associate them with a ticket with the following steps:

[code]

[2016-08-21 09:33] #61 closed

[2016-08-22 03:29] mafrul commented on #61
Thank You so much.

[2016-08-22 06:46] facetoe commented on #61
No problem, let me know if you find any bugs in the new feature.

[2016-09-06 13:45] facetoe opened #63 "Update docs"
Update docs to reflect recent changes.

[2016-09-06 13:45] facetoe opened #64 "Create Examples Wiki Page"
Examples are handy.

[2016-09-06 23:51] jeromemyers commented on #64
Can you provide an example of populating a custom fields in a ticket creation?

[2016-09-07 06:44] bdejong opened #65 "Add support for custom fields"
- Go to zendesk and add a custom field in your ticket (admin > ticket fields > add custom field)
- Add a custom field and copy-paste the ID
- If you now go to the ticket view you will be able to see new fields on the left-hand side of the ticket.

You can now fill this custom field at Ticket creation by doing this API call:

[code]

It would be great if zenpy supported this, perhaps as:

[code]

C

[2016-09-07 09:48] bdejong commented on #65
Ah, they can also be bools...

[2016-09-07 12:57] facetoe commented on #65
You should now be able to assign `CustomField` objects as described above, eg:

[code]

Let me know if you have any issues.

[2016-09-07 13:06] facetoe commented on #64
Yep, sure can. I just added support for this actually, you can find a very brief example here - https://github.com/facetoe/zenpy/issues/65.

I'll try to write some better ones this weekend.

[2016-09-07 17:48] jeromemyers commented on #65
I'm using the following call and getting "NameError: name 'CustomField' is not defined"

    tkt = Ticket(priority='high',custom_fields=[CustomField(id=22640128, value='low'),CustomField(id=71026, value='other')],subject=subjectLabel, description=descriptionContent, type='incident',assignee_id='259871026',submitter_id='259871026',requester_id='259871026', tags=tagsLabel)

[2016-09-07 18:35] bdejong commented on #65
Hey @facetoe awesome work!

Looks like ints and bools work, dates seem to not get serialised to JSON, or at least they don't seem to be sent.

[code]

All work, except the datetime fields.

[2016-09-07 18:38] bdejong commented on #65
BTW, @jeromemyers it works just fine. You need to pip install from github, not from pypi. I.e.

[code]

[2016-09-07 23:32] facetoe commented on #65
Awesome @bdejong, thanks for the testing! I probably need to serialize the datetime objects explicitly to whatever format they expect before sending off to the API. I'll have a look tonight and see if I can get dates working.

[2016-09-07 23:40] facetoe opened #66 "Method to print how object would be serialized before being sent to API"
For debugging.

[2016-09-08 07:41] bdejong commented on #65
You need ISO 8601 dates: https://developer.zendesk.com/rest_api/docs/help_center/introduction

`date.isoformat( )` or `datetime.isoformat( )` should work.

The python datetime does not have the "Z" (as in Zulu) suffix and don't have a timezone, but with a bit of chance you don't need it. If you do then have a look at http://stackoverflow.com/a/23705687 which lists how you can get the UTC ISO date

[2016-09-08 07:43] bdejong commented on #65
Confirmed that dates are not being sent:

u'custom_fields': [{u'id': 30294425, u'value': True}, {u'id': 30294725, u'value': **None**}, {u'id': 30153569, u'value': **None**}, {u'id': 30295025, u'value': 15}, {u'id': 30295045, u'value': 16}, {u'id': 30153729, u'value': 17}]

where I'm setting:

[code]

[2016-09-08 10:49] facetoe commented on #65
As of 1918ad667222975c625fa1d2bab7276489d1fb33 `date` and `datetime` objects should be serialized and sent to the API correctly. In the case of `datetime` objects they are first converted to a `date` before being sent off.

I also created a method `serialize` that is responsible for serializing the Python objects to JSON and made it available for troubleshooting these sorts of things. For example:

[2016-09-08 10:49] #65 closed

[2016-09-08 11:44] bdejong commented on #65
Works!! 👍

Let me know when you publish to pypi!

[2016-09-08 20:31] tacobeard commented on #63
I found the object creation method listed in the documentation doesn't work:

'zenpy = Zenpy(**creds)'

However, per another users comments on ticket #44 I had success with:

'zenpy = zenpy.Zenpy(**creds)'

PS.  The error I got was the Name Error, same as in the ticket referenced above.

[2016-09-08 23:19] facetoe commented on #63
Thanks for the heads up @tacobeard, looks like the docs are missing an import statement. The following should also work:

[code]

I'll be sure to add this info to the docs.

[2016-09-08 23:38] facetoe commented on #66
60d763cda87fa2090b33dfe0c3884add858ddde6.

Don't forget to document in #63

[2016-09-08 23:38] #66 closed

[2016-09-11 09:26] facetoe commented on #65
Hi @bdejong, I just pushed a new build to Pypi.

[2016-09-11 10:40] bdejong commented on #65
👍

[2016-09-12 23:07] TheFoolInRed opened #67 "NameError: name 'Zenpy' is not defined"
This one is probably on my end, but not sure what I'm doing wrong.

I'm getting
    zenpy = Zenpy.Zenpy(**creds)
NameError: name 'Zenpy' is not defined

I've tried
'zenpy = Zenpy(**creds)' as well as adding

The latter gives me an error about not being able to import 'Zenpy' though I did that before setup.

Did my pip install go awry maybe?

[2016-09-13 00:33] facetoe commented on #67
Hi @TheFoolInRed, the code:

[code]

Should work. Are you able to post the output of the following commands:

[code]

Maybe you are using a different version of Python to the one you Pip installed Zenpy to?

[2016-09-14 01:22] facetoe commented on #67
I think you have a typo, in the code you posted zenpy is all lowercase when the class should be uppercase. For example:

from zenpy import Zenpy
  module^^           class^^

[2016-09-14 23:31] TheFoolInRed commented on #67
Sorry about that, that was me just trying a few different things to make sure I wasn't crazy. Even with from zenpy import Zenpy it has the same 'ImportEffort: cannot import name 'Zenpy'

[2016-09-15 01:20] facetoe commented on #67
Can you confirm that pip actually installed Zenpy correctly? Not sure how you do it on Windows.

[2016-09-15 03:45] TheFoolInRed commented on #67
Looks like your instinct was right, my work installation of Python is hosed. Did a fresh install at home and it works like a charm. Thank you very much for the help (and awesome wrapper)!

[2016-09-15 03:45] #67 closed

[2016-09-15 13:30] facetoe commented on #67
No worries @TheFoolInRed, glad it's working!

[2016-09-15 16:49] rishi-freshbooks opened #68 "Setting a timeout on requests to Zendesk's API"
Hey! We are noticing that some requests to Zendesk's API will hang indefinitely. Would you be able to modify your zendesk client to allow for the setting of a timeout? I am not sure at what level the timeout should be applied, but here are a couple of ideas:
- Global timeout on the Zenpy object, for example:
[code]
- timeout keyword argument on the method, for example:
[code]

What do you think?

[2016-09-16 01:20] facetoe commented on #68
Hey @rishi-freshbooks, sure I'm happy to look into it, and I think the global timeout would be easiest to implement. Do you know where exactly it hangs? Are you able to provide a stack trace?

[2016-09-16 12:22] rishi-freshbooks commented on #68
Hey @facetoe, since it hangs infinitely, it never errors out and does not print a stacktrace. However,    this is what the TCP connection looks like:
[code]
the connection is established but the python process is blocking on read to that TCP connection.

Does this help?

[2016-09-25 12:53] rishi-freshbooks commented on #68
Hey @facetoe, do not mean to pester you about this, but it is has come up a few more times since. Let me know if I can lend a hand. Thanks!

[2016-09-26 00:50] facetoe commented on #68
All good @rishi-freshbooks, I've been meaning to get to it but am really busy at the moment. With any luck I can have a look tonight!

[2016-09-26 12:59] facetoe commented on #68
Hey @rishi-freshbooks, I've had a look and it is easy enough to add a timeout, however it will take a little refactoring to do it cleanly. I've got around halfway so with any luck will be able to have a branch for you to test by the end of the week.

[2016-09-27 13:01] facetoe commented on #68
Hey @rishi-freshbooks, I've written an initial implementation of the timeout feature, are you able to test it out and see if it solves your problem?

Currently I just let the exception thrown by Requests bubble up uncaught however I could wrap this if it's more convenient to catch.

Let me know if you have any issues!

[2016-09-27 17:02] rishi-freshbooks commented on #68
@facetoe wow that's great! Thank you for getting to this quickly. Unfortunately I will not be able test this out unless it is versioned and published to pypi.

Would you be able to cut a version? Do you think there are any regressions with these changes?

[2016-09-28 00:23] facetoe commented on #68
Hey @rishi-freshbooks, it is possible these changes introduced regressions as they involved  a fairly major refactor under the hood. I wish I had tests to put my mind at ease!

If you are unable to take this new version for a test drive I can perform some more extensive testing and release it as a version. I should be able to get that done in the next day or two.

[2016-09-28 12:13] rishi-freshbooks commented on #68
Hey @facetoe, I can certainly wait a few days. Thanks again for your quick help on this.

[2016-09-29 10:08] facetoe commented on #68
@rishi-freshbooks, I've pushed a new version to Pypi. You can now specify a global timeout value when you instantiate `Zenpy` with the default being 60 seconds.

 Let me know if you have any issues!

[2016-09-29 10:08] #68 closed

[2016-09-29 14:03] rishi-freshbooks commented on #68
Thank you so much!

[2016-10-02 03:54] #63 closed

[2016-10-02 04:11] #49 closed

[2016-10-02 07:11] facetoe commented on #64
Put examples in README

[2016-10-02 07:11] #64 closed

[2016-10-03 13:53] radalin opened #69 "SearchEndpoint kwargs bug"
I found a few bugs regarding the SearchEndpoint parsing keyword arguments.

When I want to execute such a query:

`zenpy_client.search(
                type="ticket",
                updated_greater_than=last_fetch_time
                sort_by="id",
                sort_order="asc"
            )
`

where last_fetch_time is a datetime field
We are stuck in the elif clause:

`elif isinstance(value,

[2016-10-03 15:05] facetoe commented on #69
Thanks for the bug report @radalin. The code in the SearchEndpoint is not pretty, I think I'll rewrite it this weekend and try to do a better job of it!

[2016-10-03 15:37] radalin commented on #69
If you require minute precision for your time. you have to use an iso format, which will convert the datetime to something like this: "2016-10-03T15:23:48+00:00". The problem comes when you want to use "+" with type parameter which turns your request to something like this:
`search.json?query=updated>2016-10-03T15:23:48+00:00+type:"ticket"&sort_order=asc&sort_by=id`

But as "+" is special to defin

[2016-10-03 15:45] radalin commented on #69
A correction on the above format (which converts my previous post to nonsense) is that you can use: "2016-10-03T15:40:48Z" which is easier and returns the correct results. This means your time should be in UTC timezone though so be careful when you are using it.

[2016-10-06 18:25] TheFoolInRed opened #71 "Issue with created_greater_than being ignored in zenpy.search?"
Loving zenpy, this has helped make a lot of sense of this to me. That said, am a bit of a noob here, and having a devil of a time figuring out what's going on. I'm trying to setup an export that'll pull all of the ticket data from the past day.

[code]

This works, but it completely ignores the created_greater_than part and starts pulling every that has the string "test"

Ideally my zenpy.search w

[2016-10-07 01:25] facetoe commented on #71
HI @TheFoolInRed, yes the SearchEndpoint is currently a bit broken when it comes to `datetime` objects (see also #69) and I hope to fix this on the weekend. In the meantime you can workaround the issue by converting your `datetime` objects before passing to Zenpy, eg:

[code]
Note the use of `created_after` instead of `greater_than`. When talking about time `*_after` and `*_before` are the correct

[2016-10-07 05:35] TheFoolInRed commented on #71
Whew, I'm still fairly new to python so I'm glad I'm not going crazy. Thank you very much for the help, zenpy has been very helpful.

[2016-10-07 11:50] facetoe commented on #71
No worries!

[2016-10-09 05:10] facetoe commented on #69
Hey @radalin, I fixed the datetime bug. I ended up just converting to a date only and sending that to the API as I don't think the time information is used by Zendesk Search API. You can still pass a datetime string and it will be sent along.

[2016-10-09 05:10] #69 closed

[2016-10-09 05:25] #71 closed

[2016-10-19 17:00] onyb opened #72 "Upload attachment by file content"
I can imagine that something like this would be very useful, if we we don't have an actual file stored somewhere.

[code]

What do you think about this? Maybe we can add `content` as an optional parameter, or even go for a new method like `upload_content(..)`.

[2016-10-19 22:43] facetoe commented on #72
Zenpy just passes the file object to the `requests` library as the `data` parameter. Here are their docs for that parameter:

[code]

Based on this I believe you should be able to pass any of these objects to the `attachments.upload` method as the `data` parameter and it _should_ be uploaded to Zendesk.

Let me know if this works and I'll add it to the docs!

[2016-10-19 22:49] facetoe commented on #72
My bad, looks like Zenpy accepts a path and not a file object. I can refactor this method to accept either a filepath or any of the objects accepted by requests for upload.

[2016-10-20 12:30] onyb commented on #72
@facetoe I just created PR #73 which adds this feature. Could you please review it?

[2016-10-20 12:53] #72 closed

[2016-10-24 20:12] ravangen opened #74 "Merge Users endpoint"
Provide the ability to merge one user into another. See https://developer.zendesk.com/rest_api/docs/core/users#merge-users

Looks pretty straightforward to implement as the payload is just a user id.

I may be able to give this a go in the coming couple of weeks, but I am not sure how you normally test the package beyond manually.

[2016-10-24 20:55] ravangen opened #75 "User-Agent version does not match package version"
Version information is stored in three places, but not always in sync. Maybe centralize this information into one place that can be referenced?

https://github.com/facetoe/zenpy/blob/1.1.6/setup.py#L7
https://github.com/facetoe/zenpy/blob/1.1.6/docs/conf.py#L70
https://github.com/facetoe/zenpy/blob/1.1.6/zenpy/__init__.py#L274

[2016-10-24 22:27] facetoe commented on #74
Hi @ravangen, yes this looks easy enough to implement. I currently only test the package manually.

[2016-10-24 22:31] facetoe commented on #75
Yes this is a bit annoying. I'll have a look at centralizing this info when I get the chance.

[2016-10-25 00:23] kyledemeule opened #76 "job_status returns results?"
Hi - I'm trying to monitor the result of a bulk creation. I get the job status ID from the bulk create, and make a request to the ```job_status``` endpoint:

[code]

and then print the results:

[code]

which returns something like this:

[code]

Everything looks good, except the ```results``` field which is empty. If I follow the URL that is provided back, I see:

[code]

So at least there the re

[2016-10-25 09:25] facetoe commented on #76
Thanks for the bug report @kyledemeule. I believe I have fixed this bug. I plan to fix up few more things this weekend so I will push a new release then.

[2016-10-25 09:47] #1 closed

[2016-10-25 09:47] #10 closed

[2016-10-25 09:47] #12 closed

[2016-10-25 09:47] #16 closed

[2016-10-25 09:47] #27 closed

[2016-10-25 09:48] facetoe opened #77 "Write tests"
There are no tests. Write tests.

[2016-10-25 21:47] kyledemeule commented on #76
Thanks for the quick turnaround @facetoe! I tested the referenced commit, and it looks to be working:

[code]

Thanks!

[2016-10-25 22:43] facetoe commented on #76
No worries!

[2016-10-26 12:52] evilskater opened #78 "Create ticket with new requester"
I'm getting this error while I'm creating a ticket with a new requester

[code]

I checked the API and there is no object named Requester... only a property of Request.
Am I doing something wrong or there is no support for this action at the moment?

PS: It works via Zendesk Rest API:
https://developer.zendesk.com/rest_api/docs/core/tickets#creating-a-ticket-with-a-new-requester

[2016-10-26 13:01] facetoe commented on #78
Hi @evilskater, a requester is a `User`, so the following code should work:

[code]

I believe the User must already exist in Zendesk.

The Exception you are getting is because you are passing a dictionary to the `Ticket` object instead of a the expected `User` object.

[2016-10-26 13:06] facetoe commented on #78
If that works for you I'll add it to the examples as it seems like it would be a common use case.

[2016-10-26 13:12] evilskater commented on #78
Hi @facetoe, Thanks for the fast reply.
Yep! that's what I was looking for. I'm gonna test if it creates a new user if it doesn't exist in ZenDesk.

[2016-10-26 13:20] evilskater commented on #78
It worked fine! Thanks @facetoe!

I think that it would be nice if this could be inserted into Docs for future searches.

[2016-10-27 00:12] facetoe commented on #78
OK cool, I'll add it to the docs.

[2016-10-30 12:58] #76 closed

[2016-10-30 13:02] #78 closed

[2016-11-01 11:35] facetoe commented on #74
@ravangen, I've added support for merging users (http://docs.facetoe.com.au/zenpy.html#merge). Let me know if you have any trouble with the new feature.

[2016-11-01 14:57] ravangen commented on #74
Thanks!!!

I haven't verified, but I think the `dest_user` could also accept an `id` instead of a full User object.

[2016-11-01 22:39] facetoe commented on #74
No worries! It does seem likely that the dest user could accept an id. I'll see if this works and update the method if it does.

[2016-11-02 22:53] facetoe opened #79 "Allow passing multiple negation arguments to SearchEndpoint."

[2016-11-04 00:12] anvisha opened #80 "zenpy.tickets.update(tkt) does not return a TicketAudit object"
It looks like, when you call zenpy.tickets.update(ticket) -- it returns a Response type object and not a TicketAudit.

[2016-11-04 09:32] facetoe commented on #80
Hi @anvisha, I just found and fixed this bug in ff55fe547a38a439e28cb88b981292ec769e31c7. I plan to push a new release in the next few days, however the fix is in master now if you want to to get your hands on it earlier!

[2016-11-05 03:41] kyledemeule commented on #51
I'm not sure if this is the same issue, but I'm seeing the same exception raised after making a couple hundred calls. E.g.
[code]
and
[code]

@facetoe do you have any suggestion? I'm not behind a proxy, and I tried this on two different internet connections (office and home).

[2016-11-05 05:00] facetoe commented on #51
Hi @kyledemeule, I think this is the same bug as reported here - https://github.com/kennethreitz/requests/issues/2364. In https://github.com/kennethreitz/requests/issues/3661 a workaround is suggested that will cause requests to transparently retry the connections under the hood when this condition arises. Are you able to test  a6ee35d and let me know if it works?

[2016-11-14 18:31] anvisha commented on #80
Hi @facetoe - any updates on when the release is going to happen? Thanks!

[2016-11-14 22:05] kyledemeule commented on #51
Hi @facetoe , thanks for the quick reply. Unfortunately I had a large job I was doing, and already completed it before seeing your solution. The workaround I used was something like this:
[code]
I never had a call fail more than once in a row, so anything using retries would probably work. Unfortunately I can't run my job again and test your solution.

Thanks!

[2016-11-14 22:49] facetoe commented on #80
I'll try to push one tonight!

[2016-11-14 22:59] facetoe commented on #51
No worries, thanks for the info!

[2016-11-30 11:08] facetoe commented on #51
I ended up merging the fix in the hope it fixes this issue (#82)

[2016-11-30 11:08] #51 closed

[2016-11-30 11:35] facetoe commented on #74
Done in 27206f444fec743451cddb9dbe885485473b24eb

[2016-11-30 11:35] #74 closed

[2016-11-30 11:43] facetoe commented on #80
Sorry it took so long @anvisha, I've been crazy busy! Just pushed 1.1.17 which contains the fix for the update method.

[2016-11-30 11:43] #80 closed

[2016-11-30 12:54] kapoorabhish opened #83 "How to get/search ticket by id?"
I used

`zenpy_object.search(ticket_id=5)`

but getting no results.

[2016-11-30 12:57] facetoe commented on #83
If you know the id of the ticket you can use the `tickets` endpoint:

[code]

Hope this helps!

[2016-11-30 13:01] kapoorabhish commented on #83
[code]

gives

[code]

[2016-11-30 13:03] facetoe commented on #83
Looks like your Zenpy instance is called `zenpy_object`, try:

[code]

[2016-11-30 13:13] kapoorabhish commented on #83
Working now.

[code]

Thanks for the help.

[2016-11-30 13:13] #83 closed

[2016-11-30 13:14] facetoe commented on #83
No worries!

[2016-11-30 23:19] ravangen commented on #74
Awesome 👍

[2016-12-07 16:04] edwardsb opened #84 "search api with type article"
`Traceback (most recent call last):
  File "/Users/edwardsb/source/knowbe4/untitled/zendesk_example.py", line 12, in <module>
    for ticket in zenpy.search("adi", type="article", sort_by="created_at"):
  File "/Library/Python/2.7/site-packages/zenpy/lib/api.py", line 175, in __call__
    return self._get_items(self.endpoint, self.object_type, *args, **kwargs)
  File "/Library/Python/2.7/site-pack

[2016-12-08 00:35] facetoe commented on #84
Hi @edwardsb, Zenpy does not currently support articles however I can look at adding support. I'll mark this as a feature requests and look at implementing it as soon as I can.

[2016-12-10 12:35] facetoe commented on #84
Hi @edwardsb, Articles are part of the Help Center API which I don't plan on supporting in the near future sorry.

[2016-12-10 12:35] #84 closed

[2016-12-10 12:52] fenollp opened #85 "Read a ticket's comments is broken"
Hey,

I can get this sample code (from the RST file) to work:

[code]

I'm using Python3 & zenpy 1.1.7 installed using pip3 on ubuntu 16.10.

I get this error:

[code]

[2016-12-10 12:58] facetoe commented on #85
Hey @fenollp, I'll need to update the examples as many of these second level endpoints have had the id parameter renamed to be a bit more descriptive. Try this:

[code]

[2016-12-10 13:35] #85 closed

[2016-12-10 17:09] fenollp commented on #85
Dang, how did I miss that in the code...

[2016-12-10 18:40] facetoe commented on #85
All good, the example was doing it's best to trick you! I've updated them now so noone else will suffer the same fate. Thanks for reporting the issue!

[2016-12-15 17:35] ravangen opened #86 "IncrementalEndpoint start_time arg for timezone aware datetime"
When providing a timezone aware datetime for `start_time` to `IncrementalEndpoint`, an incorrect value is sent to Zendesk when the systems local timezone does not match the datetime's timezone. This is highlighted in http://stackoverflow.com/a/11743262 and J.F. Sebastian's comment there.

Line affected: https://github.com/facetoe/zenpy/blob/1.1.7/zenpy/lib/endpoint.py#L120

Demo of problem
[code]

[2016-12-15 23:11] facetoe commented on #86
Thanks for the bug report @ravangen! Would another option be to explicitly convert the datetime object to UTC time before sending to Zendesk (it looks like they use UTC - https://developer.zendesk.com/rest_api/docs/core/introduction#time-stamps)?

I guess this issue is exists anytime a datetime object is sent to the API...

[2016-12-15 23:15] ravangen commented on #86
The [Incremental export start time](https://developer.zendesk.com/rest_api/docs/core/incremental_export#start-time) uses Unix epoch time (from UTC). The actual problem is that `strftime("%s")` uses the systems timezone regardless of what timezone the datetime could have.

[2016-12-15 23:22] facetoe commented on #86
Wow that's quite a gotcha!

I'll look into this tonight.

[2017-01-06 12:02] Heisenberg815 opened #87 "Support filters for Satisfaction Ratings."
Hi,

It seems that it isn't possible to provide a filter such as `score=good` to the `satisfaction_ratings` endpoint. More precisely, I am not able to make the  `/api/v2/satisfaction_ratings.json?score=good`
api call with Zenpy.  It seems that `PrimaryEndpoint` instances do not support this kind of filters. Is there a good reason for that? Otherwise, could we implement this?

Thanks

[2017-01-07 09:28] facetoe opened #88 "Support Sharing Agreements"
https://developer.zendesk.com/rest_api/docs/core/sharing_agreements

[2017-01-07 09:33] facetoe commented on #87
Hi @Heisenberg815, yes this looks to be an oversight when I implemented SatisfactionRatings. I'll look at adding the ability to specify filters as soon as I get the chance.

[2017-01-07 09:36] facetoe opened #89 "Support Macros"
https://developer.zendesk.com/rest_api/docs/core/macros

[2017-01-07 10:34] #88 closed

[2017-01-07 11:33] facetoe commented on #86
Sorry it took so long to get to this one @ravangen. I think the fix in 8a135b0 should ensure that the datetime's timezone is used as expected.

[2017-01-08 02:41] facetoe commented on #87
Hi @Heisenberg815,

You should now be able to filter Satisfaction Ratings like so:

[code]

[2017-01-08 02:41] #87 closed

[2017-01-08 06:25] #89 closed

[2017-01-09 10:20] Heisenberg815 commented on #87
Hi @facetoe, thanks for your reactivity!

[2017-01-09 10:48] facetoe commented on #87
No worries @Heisenberg815!

[2017-01-11 08:51] cdman opened #91 "zenpy re-mounting the https transport breaks requests_toolbelt's monkeypatch for Google Appengine"
Apparently zenpy remounts the HTTPS transport on whatever requests session it gets:

From https://github.com/facetoe/zenpy/blob/master/zenpy/__init__.py#L46

[code]

This prevents the correct working on Google Appengine, even if requests_toolbelt monkeypatch is used (see https://toolbelt.readthedocs.io/en/latest/adapters.html#appengineadapter). This in turn results in a lot of connection errors wh

[2017-01-11 08:52] cdman commented on #91
One idea would be to check the current adapter for HTTPS before re-mounting it and raise an exception (or just issue a warning) if it isn't request.HTTPAdapter?

[2017-01-11 10:10] facetoe commented on #91
Yes that makes sense, I'll only remount if it is a HTTPAdapter and log if it it isn't.

Thanks for the report!

[2017-01-11 12:41] sigmavirus24 commented on #91
Due to inheritance, *most* adapters will be an instance of `HTTPAdapter`. If you do

[code]

You'll see `True`.

[2017-01-11 12:46] facetoe commented on #91
Ahh good point @sigmavirus24. Can you see any issue with the following code?:

[code]

I'm not that familiar with requests internals to be honest.

[2017-01-11 13:14] sigmavirus24 commented on #91
If you're checking `__class__` you may as well do `type(adapter)` to get the same information. Still, requests-toolbelt *does* monkey patch both `sessions.HTTPAdapter` and `adapters.HTTPAdapter` (I suspect that you import HTTPAdapter here and then the monkey-patch function is called so the HTTPAdapter class here is not being replaced.) So if someone monkey patches first, then imports zenpy then th

[2017-01-12 09:27] cdman commented on #91
@sigmavirus24 - request-toolbelt patches both `sessions.HTTPAdapter` and `adapters.HTTPAdapter` only in master. The currently released version (0.7.0) only patches `sessions.HTTPAdapter`, hence this issue. Given the new information I think the correct solution would be:

- wait for a new release of requests-toolbelt and upgrade to it
- for other, similar situations (where the default adapter class

[2017-01-12 23:18] sigmavirus24 commented on #91
FYI, http://www.coglib.com/~icordasc/blog/2017/01/some-better-practices-for-using-requests-in-api-clients.html might help you with designing this

[2017-01-12 23:21] facetoe commented on #91
Thanks @sigmavirus24, much appreciated!

[2017-01-13 11:34] cdman opened #92 "Consider using something other than `zenpy` for the client in the examples"
Currently the example in the README is something like:

[code]

However I'm using like this:

[code]

So when I've read `zenpy.users.update`, I just assumed that the `zenpy` module had a `users` field on it (or perhaps there was a `zenpy.users` module). To make it more clear, perhaps change `zenpy = Zenpy(**credentials)` into `client = Zenpy(**credentials)` (or `zenpy_client`).

[2017-01-13 12:11] facetoe commented on #92
Yes I agree this is confusing, I'll fix up the docs. Thanks for the suggestion!

[2017-01-13 12:22] #92 closed

[2017-01-13 16:29] ravangen commented on #86
Thanks for looking into this. I believe there is still a bug here though.

When `kwargs['start_time']` is a timezone aware datetime (has `tzinfo`), you should be converting the datetime to the UTC timezone before using `timetuple()`. The problem is that `timetuple` does not do timezone conversions automatically so you are losing information here.

Suggested solution (since the package includes `py

[2017-01-14 01:08] facetoe commented on #86
Thanks @ravangen, for some reason I tried to solve the `%s` unixtime formatting issue instead of the timezone issue...

Can you see any problems with this approach:

[code]

[2017-01-14 02:03] facetoe commented on #91
Thanks for your help with this @cdman, @sigmavirus24. If you could cast your eyes over my solution in b7fae7b943e8d6a77d1919586960854a4c55a7ac and let me know if you see any problems with my approach it would be much appreciated. I've also documented how users can provide their own adapters in aee901cbe6f330c6ef60353301e6feb8cea95a6a.

[2017-01-14 03:43] ravangen commented on #86
You want `start_time = start_time.astimezone(tzutc())` but the rest seems fine 👍

[2017-01-14 08:19] facetoe commented on #86
Gah, of course... Thanks!

[2017-01-14 12:54] sigmavirus24 commented on #91
@facetoe this looks good to me! Hopefully @cdman can test this and assert it works for them as well. =)

[2017-01-15 07:00] cdman commented on #91
@facetoe @sigmavirus24 - thank you for the fast and continuous updates!

Yes, that change would work for me (as would having an updated release of requests-toolbelt - pretty please :smile:).

However, @facetoe I would have two observations regarding b7fae7b943e8d6a77d1919586960854a4c55a7ac:

- it removes the comment which indicates the reasoning behind re-mounting the HTTPS adapter and I think we

[2017-01-17 10:17] facetoe commented on #91
Thanks @cdman, I've added some comments to provide the reasoning for remounting the HTTPAdapter. With the docs, I've provided an example of how users can take advantage of the defaults Zenpy provides in aee901cbe6f330c6ef60353301e6feb8cea95a6a.

I'm going to go ahead and merge these changes. Let me know if you have any further issues or suggestions!

[2017-01-17 10:17] #91 closed

[2017-01-18 11:55] #79 closed

[2017-01-23 16:52] lvisintini opened #93 "Can't update custom user field using the provided api object"
Given that a user is found by the following snippet:
[code]
I would like to able to update that user by modifying the returned object.

Doing ``user.to_dict()`` provides me with the data I want, with the custom ``user_fields`` dict.

All is good and well, but I could not find a way to make any changes to those fields by making use of the generator object provided by ``user.user_fields``

An error

[2017-01-23 18:22] facetoe commented on #93
Thanks for the report @lvisintini, this is a bug. I've pushed a fix and you should now be able to update a user's user fields like so:

[code]

Let me know if you have any trouble!

[2017-01-24 16:56] lvisintini commented on #93
Any ETA for this to be available through pip? (no rush)

[2017-01-24 23:32] facetoe commented on #93
No worries, I've pushed a new version (1.1.10) to Pypi.

[2017-01-31 21:19] rtkghesselink opened #94 "Unable to create an attachment"
I'm using zenpy like so:
`self.client.attachments.upload(filename)`
and I'm getting an error back as so:
`HTTPError(u'400 Client Error: Bad Request for url: https://subdomain.zendesk.com/api/v2/uploads.json?&filename=/tmp/report-foo.pdf',))`

Its not obvious to me what the problem is as this seems to correlate to Zendesk API documentation. Any help on this would be greatly appreciated.

Additional

[2017-01-31 23:34] facetoe commented on #94
Interesting, I'm unable to reproduce this error. Are you able to upload a simple text file? How large is this PDF? What is the result of running `type(filename)`? What is the result of running `file /tmp/report-foo.pdf` in the shell?

[2017-02-01 13:49] rtkghesselink commented on #94
Hi, thanks for the quick reply! I've tried changing it to text but still get the 400 error:
`file /tmp/report-awn.txt
/tmp/report-awn.txt: ASCII text`
output of type:
`<type 'file'>`

resulting error:

Exception: ('Unable to create Ticket to Zendesk', HTTPError(u'400 Client Error: Bad Request for url: https://subdomain.zendesk.com/api/v2/uploads.json?&filename=/tmp/report-awn.txt',))

I think the

[2017-02-01 20:56] rtkghesselink commented on #94
Further to this, attaching a pdf of 55K shows up as 23 bytes. Again, I don't quite understand:
[code]

[2017-02-01 23:31] facetoe commented on #94
I don't think the issue is the `&` symbol as I am able to upload attachments without error. Can you post a minimal example that triggers the error? I am still unable to reproduce it.

[2017-02-03 11:05] rtkghesselink commented on #94
I can no longer reproduce the problem. Thanks for the assistance.

[2017-02-03 11:05] #94 closed

[2017-02-03 11:11] facetoe commented on #94
Ahh cool, let me know if you have any more trouble.

[2017-02-03 17:01] rishi-freshbooks opened #95 "Add create_or_update organization to the API"
Hey! Hope you are well.

Zendesk's API nows support create_or_update organization https://developer.zendesk.com/rest_api/docs/core/organizations#create-or-update-organization which is major improvement as it will eliminate the need to first check if the organization exists before creating or updating it.

Do you think you can support in your library? It would be a huge win for us.

Thanks!
Rishi

[2017-02-03 23:45] samjhecht opened #96 "Handle Unexpected AgentMacroReference Event Type (and others)"
We're encountering an issue where the process fails because the client does not recognize a new (undocumented) object added by ZD.  According to the response from Zendesk that is conveyed here (https://github.com/cloudbees/zendesk-java-client/issues/126), it's necessary to ensure that the "integration be flexible enough to encounter account unknown event and attribute types without breaking."

Her

[2017-02-04 01:18] facetoe commented on #95
Yup, not a problem @rishi-freshbooks. I'll add support for this as soon as I get a chance.

[2017-02-04 02:07] facetoe commented on #96
Hey @samjhecht, are you able to test the commit in #97 and let me know if it works for you? Thanks!

[2017-02-04 02:35] facetoe commented on #95
HI @rishi-freshbooks, I've added support for create_or_update Organizations and pushed a new version!

[2017-02-04 02:35] #95 closed

[2017-02-06 14:41] rishi-freshbooks commented on #95
Wow that was fast! Thank you!

[2017-02-06 22:53] facetoe commented on #95
No worries!

[2017-02-07 09:49] #96 closed

[2017-02-14 16:43] jgillmanjr opened #100 "Problem with ticket.fields generator"
Here's a snippet of ipython output showing the issue:

[code]

Talking with @dankrause, he pointed out that this may be related to the TODO item mentioned [here](https://github.com/facetoe/zenpy/blob/b62ce092173d5bb884735305605739b8e2436212/zenpy/lib/api.py#L249).

We're using the Enterprise version of Zendesk, so I'd be more than happy to assist if my issue is related to the fact we're using the

[2017-02-15 02:43] facetoe commented on #100
Thanks for the report @jgillmanjr, this is a bug I introduced quite a while ago during a refactor. Should work as expected now.

[2017-02-15 02:43] #100 closed

[2017-02-17 16:15] sseyboth opened #102 "Incremental Ticket Event Export sideloading"
Looks like the Incremental Ticket Event Export endpoint (https://developer.zendesk.com/rest_api/docs/core/incremental_export#incremental-ticket-event-export) is supported via tickets.events(), but sideloading comments via 'comment_events' isn't.

Would be great to add this feature. Unfortunately I don't understand how the code handles sideloading well enough to put together a pull request.

[2017-02-17 16:53] facetoe commented on #102
Hi @sseyboth, I've added sideloading for `comment_events`.

[2017-02-17 16:53] #102 closed

[2017-02-17 17:43] sseyboth commented on #102
Whoa, awesome! Thanks for the super fast response :)

[2017-02-17 17:47] facetoe commented on #102
No worries!

[2017-03-02 21:15] jgillmanjr opened #103 "Ability to specify (or not) sideloads"
Commit [d0ecb8a](https://github.com/facetoe/zenpy/commit/d0ecb8a35da39fcc5c9cfc6dd6f6e5146ce6d193) actually broke some stuff that I had already written (which wasn't expecting some stuff that comes in as a result of sideloading comment data).

I think that the incremental endpoints should allow the option of using sideloads or not.

The approach that I tried didn't seem to work, and I'm not sure t

[2017-03-03 00:00] facetoe commented on #103
Out of interest, how did the addition of sideloads break what you had already? I thought that change would be pretty safe.

I agree it would be nice to be able to specify (or override) sideloads for each endpoint. I'm happy to have a look at adding this functionality when I get the chance.

[2017-03-03 02:10] jgillmanjr commented on #103
Admittedly, part of it was my fault. I was deving against my fork prior to the cherry pick of my last pull request.

When I ended up changing back to upstream (your repo), I apparently didn't notice the sideload change. Ultimately though not a huge deal though - my stuff isn't in production yet and now that the comment sideload is available, I can revert to my original plan of storing the comment

[2017-03-03 12:27] facetoe commented on #103
OK cool, I was worried I might have broken other peoples code as well!

With any luck it won't be too tricky to expose the sideload functionality for all the endpoints where it is applicable but it's definitely worth doing, just need to find the time!

[2017-03-03 19:55] sjtarik opened #104 "Ticket merging?"
Is ticket merging on the roadmap?

[2017-03-03 22:37] skrud opened #105 "Unable to update a ticket's subject"
When updating a ticket that already exists in Zendesk, I'm unable to alter the `subject` field. There is a `ChangeEvent` in the corresponding `TicketAudit` object, but it looks like it's empty / nothing has changed.

### Steps to Reproduce ###
1. Create a ticket in Zendesk
2. Fetch the ticket using `zenpy.tickets(id=...)`
3. Update the ticket's subject property
4. Use `zenpy.tickets.update()` to u

[2017-03-04 00:52] facetoe commented on #104
Can you point me to the docs for this?

[2017-03-04 00:57] facetoe commented on #104
All good - https://developer.zendesk.com/rest_api/docs/core/tickets#merge-tickets-into-target-ticket.

Yes I'll implement this when I get a chance.

[2017-03-06 12:44] facetoe commented on #105
Hey @skrud, thanks for the report. This looks to be a bug or quirk in the Zendesk API itself. After messing around a bit I've found that the following updates the ticket subject as you would expect:

[code]

Alternatively, if you know the `id` this also works:

[code]

I will raise an issue with Zendesk so they can have a look.

[2017-03-06 12:56] facetoe commented on #105
I've created an issue with Zendesk. After investigating this a little more I've found that the subject is updated if A) both "subject" and "raw_subject" are set to the same value or B) either "subject" or "raw_subject" are not submitted to the API. Therefore as a workaround you can just set one of them to `None` before calling `update`.

[2017-03-07 00:50] sjtarik opened #106 "Exception with Zenpy File Upload / Attachments if File is empty."
Could be trivial but I am receiving the following exception while uploading files (named temporary and regular files)

    payload={})
  File "/Desktop/devs/lib/python2.7/site-packages/zenpy/lib/api.py", line 45, in post
    self._check_and_cache_response(response)
  File "/Users/tarik/Desktop/devs/lib/python2.7/site-packages/zenpy/lib/api.py", line 156, in _check_and_cache_response
    raise APIE

[2017-03-07 00:51] sjtarik commented on #106
`temp_file_token = zen_client.attachments.upload(<FILENAME>)

[2017-03-07 00:59] sjtarik commented on #106
I realized I have not flushed the file. So the issue is not really applicable in real life and only happens when trying to upload an empty attachment :) Keeping here just to report, will close it once confirmed.

[2017-03-07 01:11] #106 closed

[2017-03-07 01:12] sjtarik commented on #104
Thanks @facetoe. Is there a timeline for next update to PyPi?

[2017-03-07 05:26] joelhellman opened #107 "Support show_many for Users"
Can I use this library to make a request to GET `/api/v2/users/show_many.json?ids=1,2,3` and how?

[2017-03-07 08:45] facetoe commented on #107
Can you tell me a bit more about what you are trying to achieve? If you just want to iterate over all users you can just call the `users` endpoint:

[code]
Retrieving users by id can be done individually:

[code]

If you only want to retrieve some subset of users by id in a single API call that is not currently implemented, although it is most likely not difficult to do.

[2017-03-07 09:44] joelhellman commented on #107
In this case, I had around data from an good data csv export around 80'000 user ids, that I wanted to match against user emails, since only user ids are present in data warehouse for PII reasons.

My options as I see it, is either exportering all the users from the Zendesk account using incremental export, then store them somewhere, and match against my list of user ids against this data set, or t

[2017-03-07 09:56] facetoe commented on #107
Makes sense. The incremental endpoints return 1000 items per call which might work out fastest overall depending on how many users you have in your Zendesk.

In any case, I can look to implement this when I get the chance as it does seem like a handy feature.

[2017-03-07 10:36] facetoe commented on #105
OK I figured this out, whenever there is a conflict between the values of `subject` and `raw_subject` Zendesk chooses whatever is in `raw_subject`. If you want to change the subject of a ticket it is enough to only change `raw_subject`

[2017-03-07 10:36] #105 closed

[2017-03-07 10:38] joelhellman commented on #107
That would be great. I love this library, and actually got into python over the weekend just for this.
So, thanks :)

[2017-03-07 10:41] facetoe commented on #107
No worries, glad you like it!

[2017-03-08 12:49] facetoe commented on #104
Hi @sjtarik, there isn't a timeline as yet, it's really when I get the chance to implement it. With any luck I'll get to it this weekend and then push a new version to PyPi.

[2017-03-09 12:42] joelhellman opened #108 "Any way to inspect request? Could I visualize the progress of a long running operation?"
I'm using the `users.incremental export` to dump data from my Zendesk, and the resulting request can run for a long time before completing, as there is much data to paginate through.

Is there any way to see the progress of such long running requests?

Also, is there a way to see which details on the network requests being sent and the response from Zendesk API?

The docs mention there is a way to

[2017-03-09 13:21] facetoe commented on #108
Hi @joelhellman, yes you can see additional information if you enable debug logging. Just place the following in your script:

[code]

You can change the `requests` log level to INFO/DEBUG if you want to see the messages generated by `requests` as well.

Hope this helps!

[2017-03-09 13:51] drorbar opened #109 "Add timeout for rate limit retries"
Hi,

Love the fact you added the rate limit feature but wanted to ask if you could please add a timeout for the sleeping processing.
Currently, if too much time passed without being able to get info from the zendesk I have nothing to do but wait for the system to finish sleeping over and over again.
I would love if I could send a timeout to the system and if it reach this an exception will be rais

[2017-03-09 14:06] facetoe commented on #109
HI @drorbar, could you provide a little more info on what you are trying to achieve? I'm not sure I understand your problem well enough to implement a solution.

[2017-03-09 15:11] drorbar commented on #109
@facetoe sure,
I wrote a program which runs periodically and combines data from several sources together before sending it to a database.
One of my data sources is zendesk, and I am using zenpy to get the data I need. The problem I'm facing is that when I reach the rate-limit of zendesk it starts sleeping over and over (sometimes for a couple of minutes when the zendesk is really busy).
I would ra

[2017-03-09 22:37] sjtarik commented on #104
Thanks @facetoe for great library. Keep it coming 👍

[2017-03-09 23:57] facetoe commented on #109
OK I see what you mean. Is the time you are willing to wait relatively constant? If so you could use SIGALARM to throw an exception if Zenpy hasn't completed within a certain time. There is an example here - https://docs.python.org/2/library/signal.html#example. Would that work for you?

[2017-03-10 12:44] drorbar commented on #109
Hi,

The wait time is pretty constant and the SIGALARM could be a solution.
If I understand it correctly it will not allow me to know if the time passed cause I got a rate-limit issue or if I just have too many items to read from the zendesk and it taking time - which might mean I'll never receive information from zendesk cause I'll alway wait for too many items which take more time than the SIGAL

[2017-03-11 14:52] drorbar opened #110 "Support chat api"
Hi,

Like I said in the previous messages I am using zenpy to get data from zendesk application.
One of the data information I would want to get is the zendesk API (https://developer.zendesk.com/rest_api/docs/chat/introduction), which as I saw isn't supported in zenpy.
I wanted to ask if you are planning to add support to this API and if not, could you please give a few quick guidelines about the

[2017-03-11 15:16] facetoe commented on #110
Hi @drorbar,

I wasn't planning on it but from a quick scan of the docs it looks like it can be integrated easily enough. I do have a chunk of time coming up where I could implement this functionality but it won't be for at least a a month. If you can't wait that long I'm happy to answer any questions you might have about implementing this feature. In fact, I was thinking of writing a contributors

[2017-03-11 15:27] facetoe commented on #109
Yes this is correct, the SIGALARM solution doesn't help with determining whether or not the wait is due to a large number of items or rate limiting. I'll need to think about this a bit more but two ideas come to mind:

- A rate limit budget that will raise some exception when the budget is spent (time based)
- A max rate limit value that will throw an exception when decremented to zero (event base

[2017-03-11 15:30] #108 closed

[2017-03-12 08:28] drorbar commented on #109
Both solutions sound great, I would rather have the time-based but the event-based could be good enough for me

thx a lot

[2017-03-12 08:35] drorbar commented on #110
@facetoe, adding a short contributors guide will be great!
I think that I can wait a month or so, if this changes I'll probably return with a few questions

[2017-03-14 19:40] wontonst opened #111 "Support filters in user primaryendpoint"
https://developer.zendesk.com/rest_api/docs/core/users#filters

If I run

`for user in client.users(role='admin')`

it doesn't apply the role filter. After digging around, I think this wrapper does not support filtering. Patch incoming.

[2017-03-15 14:01] facetoe commented on #111
Thanks for the PR! I'm going to leave this open so I remember to add this info to the docs.

[2017-03-15 19:14] wontonst commented on #111
I added a line of documentation in #113 and also did a similar thing for the permission_set filter

[2017-03-16 19:32] philsalesses commented on #110
+1 for this functionality.

[2017-03-20 12:40] facetoe commented on #111
Awesome, thanks.

[2017-03-20 12:40] #111 closed

[2017-03-20 23:06] sjtarik opened #114 "Issue with updating fields and commenting at the same time"
Following code used to work but I am no longer able to execute it successfully receiving the following error:

[code]
[code]

[2017-03-20 23:25] facetoe commented on #114
The above code still works for me. Do you have custom ticket fields?

[2017-03-21 00:07] sjtarik commented on #114
Ticket does not have custom ticket fields. It does not have a type field, so while closing I want to set the type as "incident" and close it but still receive the error "Type:: is required when solving a ticket".

[2017-03-21 09:36] facetoe commented on #114
When I execute the above code it correctly sets the type to "incident" and closes the ticket. From the error output you have posted it looks like you have a ticket field set to required and that is throwing the error (or something like that). It is difficult for me to troubleshoot this issue as I do not know how your Zendesk is configured.

You should be able to get more information about this fie

[2017-03-21 22:12] sjtarik commented on #114
Hi @facetoe , it is in fact a custom field using exact same name "Type" which made me thought zenpy not setting the type field successfully. Thanks for your time and help.

[2017-03-21 22:12] #114 closed

[2017-03-21 23:53] facetoe commented on #114
No worries!

[2017-04-05 06:45] sovietnorm opened #115 "Support identities?"
Pretty please?

I have an organisation that did dumb things with their phone number formatting on an import.
It's fixable, buuuuut I'm lazy and zenpy is so nice that I don't want to use another python API client that can manipulate identities to do it.

I might also be misunderstanding how to manipulate identities, I see there's some reference to it that I don't fully understand in the users prima

[2017-04-05 08:29] facetoe commented on #115
Hi @sovietnorm, are you talking about User Identities - https://developer.zendesk.com/rest_api/docs/core/user_identities?

[2017-04-05 09:00] sovietnorm commented on #115
Yes, if possible.

It would make really easy work out of correcting systemically fudged contact information on several thousand records.

[2017-04-05 09:04] facetoe commented on #115
Yep, no problem, shouldn't be hard to implement. With any luck I'll get to it next week!

[2017-04-05 09:08] sovietnorm commented on #115
Awesome. Just, awesome.

[2017-04-12 08:03] facetoe commented on #104
Hi @sjtarik, I've added support for merging tickets to master. I've got some more changes coming and will push a new release to PyPi in the next week or so.

[2017-04-12 08:03] #104 closed

[2017-04-13 04:40] facetoe commented on #107
Hi @joelhellman, I just went to implement this and it turns out it is already implemented. You can access this functionality as follows:

[code]

Sorry I should have done a but more investigation when you first opened the ticket!

[2017-04-13 07:58] facetoe commented on #115
Hi @sovietnorm, I've added support for identities. I'll need to update the docs but for now you can use the new functionality as follows:

[code]

[2017-04-13 07:58] #115 closed

[2017-04-13 08:00] facetoe opened #116 "Fix documentation generation to include User Identities"
Added in #115

[2017-04-16 05:15] sjtarik commented on #104
happy I can get rid of requests calls just for merging tickets. thanks @facetoe for implementation 👍

[2017-04-16 05:17] facetoe commented on #104
No worries!

[2017-04-18 12:35] joelhellman commented on #107
Excellent! Thanks for the update.

If its not in the docs already, I would love to see it added :)

[2017-04-18 12:37] facetoe commented on #107
No worries, yes I'll add it to the docs.

[2017-04-19 15:07] snexus opened #119 "Incremental ticket event - comment_events sideloading"
Hi,
Thanks for this great wrapper.

Is it possible to add  comment_events side loading for the incremental ticket event? This way comment events could be fetched in bulk via incremental API.

Seems it is supported via API, but not in Zenpy:  https://developer.zendesk.com/rest_api/docs/core/incremental_export#incremental-ticket-event-export

Thank you!

[2017-04-19 15:15] facetoe commented on #119
Yep, not a problem. I'll try to get to this tomorrow.

[2017-04-23 14:40] facetoe commented on #119
Hi @snexus, I've updated the incremental endpoint to sideload comment_events.

[2017-04-23 14:40] #119 closed

[2017-04-23 15:07] facetoe commented on #119
BTW @snexus, I've added the ability to add or remove sideloads in 5084478ced6aff886cb50643f96b62578489bcbf.

[2017-04-23 15:10] facetoe commented on #103
Hi @jgillmanjr, I've added the ability to add or remove sideloads. There are three new methods per API: `get_sideloads`, `append_sideload` and `remove_sideload`. For example, to add the `comment_events` you could do the following:

[code]

[2017-04-24 01:14] snexus commented on #119
Hi @facetoe, thank you, much appreciated!
Btw, do you plan to add a basic contribution guide so we won't bother you with minor requests?
Thanks again.

[2017-04-24 03:20] facetoe commented on #119
Yep, I still do plan on writing it. I've been doing a major refactor over the last week or so cleaning up the code and making it (hopefully) a bit easier to grok. Once that's done I'll write a guide and a tutorial showing how to implement a new api endpoint.

[2017-04-24 03:20] facetoe opened #120 "Write contributors guide"

[2017-04-28 18:02] facetoe commented on #110
Hi @drorbar, @philsalesses,

I've added support for most Chat API endpoints. The only exception is the Realtime Chat API endpoint as it appears to be broken on Zendesk's end. I've opened a ticket with them and hopefully I can get that added soon.

Let me know if you find any issues. I used a trial account to implement the functionality and it is likely that there are some bugs lurking around. It a

[2017-04-28 18:04] facetoe commented on #119
Hi @snexus, I wrote a bit of a contributors guide here - https://github.com/facetoe/zenpy/wiki/Contributors-Guide. If you have any suggestions or questions let me know!

[2017-04-28 18:09] #120 closed

[2017-04-29 14:31] facetoe opened #123 "Support SLAs"
https://developer.zendesk.com/rest_api/docs/core/sla_policies

[2017-04-29 16:19] facetoe commented on #109
Hi @drorbar, I've implemented the `ratelimit_budget` feature (http://docs.facetoe.com.au/zenpy.html#rate-limiting). Let me know if you have any issues!

[2017-04-29 16:19] #109 closed

[2017-04-29 16:59] facetoe opened #126 "Document Chat API"

[2017-04-30 02:17] jgillmanjr commented on #103
@facetoe Excellent!

My script has pretty much been humming along quite nicely, but this will be nice for future work.

[2017-04-30 10:26] drorbar commented on #110
@facetoe Thank you very much, this is great 👍

[2017-04-30 10:26] drorbar commented on #109
@facetoe yes! thank you!

[2017-05-01 05:35] facetoe commented on #123
e1e8c0077beb63c0f89c93028287d289254b9c91

[2017-05-01 05:35] #123 closed

[2017-05-01 05:49] facetoe commented on #110
No worries!

[2017-05-02 14:24] jhrs21 commented on #110
Hello @facetoe

Great work have you done!

Do you know when this feature will be available over a version number, so pip users can update it?

Thanks

[2017-05-02 14:27] facetoe commented on #110
Hi @jhrs21, yep I'll be pushing a new version to PyPi in the next couple of days, I just need to write some docs and it's good to go.

[2017-05-02 14:28] #126 closed

[2017-05-08 21:37] arontx opened #127 "Docs for latest version reference views however object does not have this attribute"
Documentation for 1.1.12 lists support for views however attempting to use it results in AttributeError

[code]

Not sure if the documentation is ahead of 1.1.12 or if this an issue with the release.

In the event that the documentation is "ahead" is there any eta on when the next release would include views support? I'd love to use zenpy but I can't clone from git for production servers -- needs

[2017-05-08 23:38] facetoe commented on #127
Yes the docs are for what is on master. I'll try to push a new version tonight.

[2017-05-09 11:04] jhrs21 opened #128 "Chat basic authentication"
Hello @facetoe

I am trying to test your Chat integration and I have two doubts.

1) Does it support basic authentication with Zopim? I mean, I am creating the Zenpy object with an `email` and `password`. But it requires a subdomain that for Zopim I think it doesn't exist. Is this right?

2) Do you have an example what kind of parameters search method needs? I am passing a dictionary `{'started_by

[2017-05-09 11:19] facetoe commented on #128
Yes a subdomain is still required by the Zenpy constructor but you're right that it is not used. I'll fix that up as it is a bit confusing.

Basic authentication works on many endpoints however according to zopim it is deprecated (although as far as I know this is not mentioned in the docs, they told me this in a support ticket). I'd suggest trying oauth2 if you are having issues.

You should be a

[2017-05-12 00:29] SeventhHelix commented on #110
@facetoe any update on when you'll be pushing the next version to PyPi? I don't mean to rush you, but I'd love to use the `views` API for a project of mine.

Thanks for all your hard work on zenpy!

[2017-05-12 05:10] facetoe commented on #110
I'll push a new version as soon as I can get get my laptop working. unfortunately I've hit a weird bug and cannot mount my LUKS partition... this is complicated by the fact I'm riding a motorbike around Vietnam! I hope to get this sorted within a week.

[2017-05-15 14:27] facetoe commented on #127
Hi @arontx, I've pushed a new version to PyPi.

[2017-05-15 14:27] #127 closed

[2017-05-15 14:29] facetoe commented on #110
Hi @SeventhHelix, I've pushed a new version to PyPi.

[2017-05-17 06:14] jishnunand opened #129 "Is it possible can we add a custom filed in organization using zenpy?"
Hi Team,

I have a requirement to add a value to custom field dropdown in the organization table. Also, I want to know is it possible can we do a search in Organization table custom field directly?
Ex: I have created a custom field in Organization called "employee id". I want to do a search directly to "employee id" field.

Currently, I am doing this by going through all companies and checking for

[2017-05-17 11:26] facetoe commented on #129
You can update the an organizational field as follows:

[code]

I'm not sure if it is possible to search the organizaional field directly. Your best bet is to refer to the Zendesk search documentation to see if it is possible.

[2017-05-17 11:26] #129 closed

[2017-05-17 11:50] jishnunand commented on #129
@facetoe Thanks for the Update. I have one more use case in this. Is it possible can we add a custom dropdown field using this?

[2017-05-17 11:58] facetoe commented on #129
No creating organizational fields is not currently supported. It would not be hard to implement, I just won't have to time to do it for a while.

[2017-05-18 08:29] JacobSMoller opened #130 "SearchResultGenerator AttributeError"
Hi trying to make a search for a user doing like so:
user = next(zenpy.search(type='user', external_id=110101))
But it throws
Throws: AttributeError: 'Api' object has no attribute 'deserializer'
from line https://github.com/facetoe/zenpy/blob/master/zenpy/lib/generator.py#L110

Might just be my tired brain that is missing something trivial,  but can't see why i shouldn't be able to use next on the

[2017-05-18 09:09] facetoe commented on #130
Yep, this is a bug. I'll patch this and push a new version to PyPi.

Thanks for the report!

[2017-05-18 09:18] facetoe opened #131 "Write tests for generators."

[2017-05-18 09:21] facetoe commented on #130
Ok I've pushed a new version. If you update and try again it should work as expected.

[2017-05-18 09:21] #130 closed

[2017-05-18 09:38] JacobSMoller commented on #130
Yes works as expected. Thanks for the quick fix. Its a lovely wrapper for
the zendesk API.

On May 18, 2017 11:21 AM, "Facetoe" <notifications@github.com> wrote:

[2017-05-18 09:39] facetoe commented on #130
No worries!

[2017-05-19 06:28] facetoe commented on #128
Hi @jhrs21, you no longer need to pass a subdomain if you are only using the chat endpoints.

[2017-05-19 06:28] #128 closed

[2017-05-19 07:46] #131 closed

[2017-05-23 20:24] cdmerritt opened #132 "Reading from Custom Field (Documentation Requested)"
I'm trying to pull data from custom fields, but can't seem to find an example.  Lots of examples to modify a custom field, but none of just pulling info from a custom field.  Any help would be most appreciated.  Thanks for all your work on this project!

bulk_tickets = zenpy_client.tickets.incremental(start_time=start_date)
for ticket in bulk_tickets:
     t_id = ticket.id
     ticket_int_status =

[2017-05-24 00:31] facetoe commented on #132
Hi @cdmerritt, when you retrieve your tickets from Zendesk the `custom_fields` list should be populated with dictionaries representing your custom fields. You can read the values as follows (assuming a field id of 79177827):

[code]

Hope this helps!

[2017-05-24 01:51] bighelmet7 opened #133 "Get All the tickets from a certain view"
Hi! I'm trying to get all the tickets from a particular view, here is part of my code:

    def get(self, view_id):
		creds['token'] = users[auth.username()]
		zenpy_client = Zenpy(**creds)
		tickets = zenpy_client.views.tickets(int(view_id))
		payload = {
			"tickets" : []
		}
		for ticket in tickets:
			aux = {"id": ticket.id,"subject": ticket.subject}
			payload["tickets"].append(aux)
		return

[2017-05-24 01:59] facetoe commented on #133
Hmm, Zenpy is supposed to return a generator in this case, might be a bug. I'll have a look tonight. Thanks for the report!

[2017-05-24 10:58] cdmerritt commented on #132
Perfect!  Thanks for the fast response!

[2017-05-24 10:58] #132 closed

[2017-05-25 22:14] bighelmet7 commented on #133
Hi @facetoe, thx a lot for your support and this amazing wrapper. Do you know something more about this bug?

[2017-05-27 07:32] facetoe commented on #133
Hi @bighelmet7, yes turns out it wasn't correctly returning a result generator. I've pushed a fix and it should work as expected now.

I'll push a new version to PyPi sometime this week.

[2017-05-29 11:55] facetoe commented on #133
Hi @bighelmet7, I've pushed a new version to PyPi.

[2017-05-29 11:55] #133 closed

[2017-05-29 11:57] bighelmet7 commented on #133
Hi @facetoe thx a lot for all your effort and help! is there any place where I can contribute?

[2017-05-29 12:25] facetoe commented on #133
No worries! As for contributing, most definitely! There are three main areas:

1) Implementing sections of the Zendesk API that are not yet supported.

2) Writing tests (or coming up with a testing strategy even). I'm not very good at testing and have implemented a few strange tests, however the vast majority of the wrapper is untested.

3) Figuring out a new way to generate documentation from the

[2017-05-30 08:15] facetoe commented on #133
It just occured to me that you might have meant contribute monetarily. If that's the case, no, but I might add a bitcoin address in the future.

Let me know if you have any more trouble with Zenpy!

[2017-05-30 11:09] bighelmet7 commented on #133
Hi! @facetoe haha it was both, for contribute in this project and monetily!

Thx for all your effort!  <3

Of course I will let you know if have more trouble, at least I've one with the views hehe but I guess is a subprocess problem of my machine.

[2017-05-31 20:33] bighelmet7 opened #134 "How can I call ticket_audits?"
I'm trying to access into an audit, but the only way I found is:

    audit = zenpy.tickets.update(ticket)

But I just get the last audit, and I want all the list.

[2017-06-01 11:36] facetoe commented on #134
You can retrieve the audits for a ticket as follows:

[code]

[2017-06-01 13:30] tacobeard commented on #132
Greetings, and thank you for creating this wrapper!  The above loop works great for outputting a single custom field value, but how might I produce output for multiple custom fields?  I'd like the values from the multiple fields to be next to each other.  Below is a sample of the output I'm aiming for, along with code that doesn't work.  Thanks again for all your hard work on this project!

[code]

[2017-06-01 13:49] facetoe commented on #132
This isn't really a question about the wrapper, more a general programming question, but you have a fantastic name @tacobeard :)

You could use a dictionary comprehension:

[code]
Alternatively, if you could do something like this if you don't know the ids:

[code]
Hope this helps!

[2017-06-02 07:40] bighelmet7 commented on #134
Thx <3 you're always saving my day haha

[2017-06-02 10:29] facetoe commented on #134
No worries!

[2017-06-02 10:29] #134 closed

[2017-06-02 12:26] bighelmet7 commented on #133
@facetoe Why when I'm trying to iterate over a all the tickets in a certain view, in some point I get this exception: ("bad handshake: SysCallError(104, 'ECONNRESET')",)
I fixed with a

    from time import sleep as SLEEP
    While True:
        [code] ... [/code]
        zenpy.tickets.update(ticket)
        SLEEP(2)

But in the view are like 17k tickets, and in some point I get another time the s

[2017-06-03 12:15] facetoe commented on #133
`ECONNRESET` means the remote end is closing the connection on you, so you are probably hammering the Zendesk servers. Without seeing the code or having a bit more info on what you are trying to achieve I can't help much.

[2017-06-03 20:35] bighelmet7 commented on #133
Here's my code:

    #!/usr/bin/python
    # -*- coding: utf8 -*-
    from dateutil import parser
    from zenpy import Zenpy
    from datetime import datetime
    from datetime import timedelta
    from datetime import date
    from time import sleep as SLEEP
    import time

    #[00:00 - 6:59]
    def morning_limit(t):
	    return (t.hour <= 6 and t.minute <= 59)

    #[22:01 - 23:59]
    def n

[2017-06-04 02:28] facetoe commented on #133
Instead of updating each ticket individually, try building a list of tickets and updating them in batches of 100 at a time (zenpy.tickets.update() accepts a list also). You can save some API calls by populating the user cache ahead of time. Increase the user cache size to > your total users then execute `[u for u in zenpy_client.users.incremental(start_time)]` to populate the cache before entering

[2017-06-06 22:10] tacobeard commented on #132
Thanks for the prompt response, and the compliment on my name :)  Yours is similarly great!

I'm having trouble getting either one of the above suggested scripts to work.  I know the custom field IDs that I need, so I input them as follows:
[code]

I get the following error:
[code]
I tried switching around the keys but  to no avail.  Again, I know for a fact those custom field IDs are correct, and

[2017-06-07 14:32] jdelannoye opened #135 "views.count() returns View and not ViewCount"
Hi,
`print zenpy_client.views.count(147347885).__dict__` that returns a View object and not ViewCount

The method count_many() looks to work fine
`print zenpy_client.views.count_many([147347885]).__dict__`

`{'count': 1, 'next_page': None, 'response_handler': <zenpy.lib.response.ViewResponseHandler object at 0x10bc2bbd0>, 'previous_page': None, '_response_json': {u'count': 1, u'view_counts': [{u'p

[2017-06-07 14:36] jdelannoye commented on #135
I have fixed it in a patch

api.py
`        """
        Return a ViewCount for a view.

        :param view: View or view id
        """
        if isinstance(view, View):
            view = view.id
        return self._get(self._build_url(self.endpoint.count(id=view)))`

endpoint.py
`    views.count = SecondaryEndpoint('views/%(id)s/count.json')`

response.py
`        elif 'view_count' in deseria

[2017-06-07 15:14] jdelannoye commented on #135
Could also be easily workarounded by using the "execute()" method.

How I use zenpy now :
[code]

[2017-06-12 03:36] #135 closed

[2017-06-12 03:37] facetoe commented on #135
Thanks for the report and patch @jdelannoye. I've applied your suggested changes.

[2017-06-14 16:05] facetoe commented on #132
With the first error, it appears that not all your tickets have the `29655218` custom field id. If you print the ticket ids as you go along you should be able to confirm this theory.

[2017-06-15 19:34] tacobeard commented on #132
Thanks for responding, I was able to get a solid output (my script is designed to output SQL insert statements) using the following code:
[code]
If you can't tell I'm kinda fumbling my way through learning Python by largely utilizing your repository and a few others, so thank you so much for your all of the help and kindness :)

[2017-06-16 12:36] facetoe commented on #132
No worries, glad you got it working!

[2017-06-16 14:03] abadd00d opened #136 "How to close a ticket."
Hi.

Is it possible to close a ticket via zenpy?
I can't find how to do this. Can you help me?

Thank you in advance.

[2017-06-16 14:06] facetoe commented on #136
Hi @abadd00d,

Yes it is possible:

[code]

[2017-06-16 14:07] #136 closed

[2017-06-16 14:33] abadd00d commented on #136
Thanks! It works!

[2017-06-16 14:33] facetoe commented on #136
No worries!

[2017-06-30 07:16] bighelmet7 opened #137 "Only update those attributes of objects that have been modified."
I don't why when you get a ticket with a open status in a zenpy process, and you modified the status to solved in zendesk, the moment you update the ticket in the zenpy process, the ticket in zendesk will have open status instead of solved. How I can avoid it?

[2017-07-02 09:45] facetoe commented on #137
This is because when you query Zendesk, the ticket has the status of open. The Ticket object that is created from the Zendesk response has the open status, and when you update it Zendesk happily applies the values in the posted JSON to the ticket, including the status value of `open`, reverting the change you just made in the UI.

There is an easy workaround to this: you can explicitly set the tic

[2017-07-05 08:00] bighelmet7 commented on #137
Nice! thx @facetoe <3

[2017-07-05 11:08] facetoe commented on #137
Well it looks like this would be a bit tricky to implement properly. If more of these sorts of bugs/issues pop up I will look at making this change but for now I think it's best to leave it as it is.

[2017-07-05 11:39] facetoe opened #138 "Support creating GroupMemberships"
https://developer.zendesk.com/rest_api/docs/core/group_memberships

[2017-07-07 10:56] bighelmet7 opened #139 "How to use the endpoint Ticket Import?"
I don't understand how i can import a ticket to zendesk

[2017-07-08 00:26] facetoe commented on #139
You pass a Ticket or list of Tickets to the `ticket_import` endpoint - http://docs.facetoe.com.au/zenpy.html#ticket_import. When passing a list you need to ensure that there are less than 100 Tickets as specified in the docs - https://developer.zendesk.com/rest_api/docs/core/ticket_import#ticket-bulk-import.

Hope this helps!

[2017-07-08 00:26] #139 closed

[2017-07-08 16:58] DesSolo commented on #138
Thank you so much!
Now I've fully automated my job.
You're a great developer!

[2017-07-11 08:27] bighelmet7 commented on #139
Thx ! but what if a what i need to do if the current ticket from the other platform got many comments? I've to import a Ticket and a Comment object to the endpoint ticket_import?

[2017-07-11 09:18] Srinidhi-SH opened #140 "Not able to iterate over search results ."
Like the example in the documentation :
for ticket in zenpy_client.search("zenpy", created_between=[yesterday, today], type='ticket', minus='negated'):
    print ticket

I tried to get results for searching a user using the code .

for user in zenpy_client.search(user="my_id@email_id.com"):
     print user

This is returning an error : 'Api' object has no attribute 'deserializer'

But the search m

[2017-07-14 20:01] tacobeard opened #141 "Best way to query comment data"
Hello, and thanks for all the work you've done on this!

I am building a script that will query comment data per each ticket id made in the last hour, including comment text, author, and time.  I see the wrapper can utilize ticket audits, and am not sure if that's the better way to go or if you have end points for comment text, author, and time that would be queryable on their own.

My current scr

[2017-07-16 02:51] facetoe commented on #140
You are using an old version of Zenpy. That bug has already been fixed in #130.

[2017-07-16 02:51] #140 closed

[2017-07-16 14:15] facetoe commented on #138
No worries!

[2017-07-16 14:15] #138 closed

[2017-07-17 11:19] facetoe commented on #141
You can retrieve comments as follows:

[code]

[2017-07-17 11:19] #141 closed

[2017-07-28 02:12] originalcheng commented on #26
hey facetoe, can you show how to call "GET /api/v2/ticket_forms.json" using version 1.2.2?

[2017-07-28 07:26] facetoe commented on #26
Hi @originalcheng, I'm afraid support for ticket forms has not been implemented as I don't have an enterprise account.

I could have go at implementing support and maybe you could test to verify that it works?

[2017-07-31 16:07] originalcheng commented on #26
@facetoe it does seem to work using your Api class and passing in your PrimaryEndpoint class with object_type='ticket_forms'. Couldn't figure out how to use 'side_load' though.

[2017-07-31 16:57] facetoe commented on #26
Excellent! PRs welcome :) No need to worry about sideloads, it doesn't look like ticket forms use them - https://developer.zendesk.com/rest_api/docs/core/side_loading#supported-endpoints.

[2017-08-10 14:39] cdmerritt opened #144 "Metrics Data"
Forgive me.  I'm a n00b to Python and zenpy.  I've used your API to pull a lot of details about specific tickets, but now I'm trying to pull metrics.  Specifically, I'm trying to get median first reply time by year/quarter and by ticket priority.  Is this something that can be done via zenpy?  Or, do I have to look at this data from an individual ticket perspective and aggregate myself?

Thanks in

[2017-08-10 14:41] facetoe commented on #144
I do not know if this is possible, though it may be. Your best bet is to look through the Zendesk API documentation and see if there is a method that suits your needs (https://developer.zendesk.com/rest_api/docs/core/introduction). If you find one, and it is not supported in Zenpy, I would be happy to add support.

[2017-08-10 14:44] facetoe commented on #144
Does this help - https://developer.zendesk.com/rest_api/docs/core/ticket_metrics?

[2017-08-10 14:46] cdmerritt commented on #144
I've looked at that, but I think that is still at the individual ticket level.  I know with insights @ ZD they have aggregated data exposed, but I'm not sure it's available via their REST API...May have to try and do it by ticket and aggregate myself...Bummer.

[2017-08-10 14:47] facetoe commented on #144
Yes I think this is likely. Zenpy does not do any processing on the data it receives with the exception of caching, it is a one to one mapping with the Zendesk API.

[2017-08-10 14:48] cdmerritt commented on #144
Cool.  Thanks for the quick response.  Much appreciated.

[2017-08-10 14:48] #144 closed

[2017-08-18 20:13] jorijinnall opened #145 "Can't add tags to tickets"
Hi,

In the documentation, it is mentionned that we can use the function add_Tags to add tags to a ticket : http://docs.facetoe.com.au/zenpy.html?highlight=tag#add_tags

But unfortunately, the function does not look to be exposed for the tickets :

my call :
`       ticket_to_qualify = zendesk.zenpy_client.tickets(id=221773)
    ticket_to_qualify.add_tags(id=221773,tags=["account_qualifed"])`

Att

[2017-08-19 03:41] facetoe commented on #145
Hi @jorijinnall,

The documentation is correct. The method `add_tags` is exposed via the `TicketApi`, and so the following will work:

[code]

Although you could also just modify the `Ticket` object directly:

[code]

The reason your code above works is that all Zenpy objects hold a reference to the Api that created them:

[code]

So the code:

[code]

Is exactly equivalent to:
[code]

I can see h

[2017-08-19 03:56] #145 closed

[2017-08-21 09:34] #103 closed

[2017-08-21 09:35] #77 closed

[2017-08-25 20:45] onecrayon opened #146 "Support bulk `external_id` routes for Organizations"
Currently to bulk fetch or delete Organizations you have use their Zendesk IDs. However, there are routes for using the `external_id` to handle these tasks, which is preferable when doing something like mirroring data from a site/app/whatever to Zendesk.

It would be lovely if we could do things like the following:

[code]

I started implementing support for this here:

https://github.com/facetoe/

[2017-08-26 06:47] facetoe commented on #146
I can see how this would be very useful, but we need to be careful with the implementation to ensure that people don't accidentally delete the wrong objects. Adding support for external_ids introduces some ambiguity in how an object is identified, which could in the worse case lead to people deleting the wrong objects accidentally, which would be bad.

I wonder if it would be better to add methods

[2017-08-26 15:39] onecrayon commented on #146
That makes a lot of sense to me. Aside from being wholly untested, the other reason my approach in the branch linked above made me a little uncomfortable was that if you had a mixed set of objects, some with external IDs and some without, you'd end up with a guaranteed error regardless of object order (since the resulting API call would be something like `?external_ids=1,None,3`).

So I guess this

[2017-08-30 02:48] gutdraw opened #147 "issue with show_macro_effect"
I am having an issue with show_macro_effect()

What would be causing this none type error on self.api?

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-29-72e5ac5e65a2> in <module>()
      3 # Execute the show_macro_effect() method which returns what the macro *would* do.
      4

[2017-08-30 02:59] facetoe commented on #147
Can you post a minimal snippet of code that triggers the error?

[2017-08-30 09:04] facetoe commented on #146
Yep, sounds good. I would add one method though `update_by_external_id` as Zendesk also supports updating objects by external id.

I'll have a look at this when I get the chance, however PRs are welcome :)

[2017-08-30 16:08] gutdraw commented on #147
So i pulled from the docs and am editing a custom field this works fine and if i update it does take effect:

zenpy_client.tickets(id=16200355).custom_fields.append(CustomField(id=24196943, value=datetime.date(2017, 8, 30)))

now when i pull from the example in the documentation and pass api objects with id to the show_macro_effect() method . i am getting the above error,  is there a way i should

[2017-08-30 16:38] facetoe commented on #147
Thanks for the report @gutdraw, this is a bug. I should have it fixed by tomorrow afternoon and will push a new version to PyPy.

[2017-09-01 06:24] facetoe commented on #147
I've fixed the bug, will push a new version to PyPy soon.

[2017-09-01 08:03] facetoe commented on #146
Hi @onecrayon, I've implemented this functionality in 8a5ae5cf09cda841dfb4b081fd85f4ee7dcca685 and pushed a new version to PyPy. Let me know if you have any trouble!

[2017-09-01 08:03] #146 closed

[2017-09-01 08:03] facetoe commented on #147
@gutdraw, I've pushed the latest version to PyPy. Let me know if you have any trouble!

[2017-09-01 08:03] #147 closed

[2017-09-03 00:13] gutdraw commented on #147
Works!  Thanks so Much

[2017-09-05 19:02] onecrayon commented on #146
Thanks, @facetoe! I will definitely give this a try and let you know if I run into any issues.

[2017-09-06 09:05] mfitzp opened #148 "Searching/requesting Organizations via external_id"
According to the Zendesk docs it should be possible to [search for an organiation via an associated external_id](https://developer.zendesk.com/rest_api/docs/core/organizations#search-organizations-by-external-id).

Trying this using zenpy returns no results, though an organization with the matching id exists.

    zenpy_client.search(type='organization', external_id=organization_id)

Looking at th

[2017-09-06 09:19] mfitzp commented on #148
I found the `zenpy.organizations.external` endpoint which is doing the trick!

[2017-09-06 09:19] #148 closed

[2017-09-08 13:06] #26 closed

[2017-09-09 08:53] jeromemyers02 opened #151 "Search returning nothing"
when using the search feature for organizations types. It returns a null value in version 1.2.2 but version 1.1.12 works.

example
zd.search(type='organization', tags=orginal_organization_name)

[2017-09-09 09:03] facetoe commented on #151
I'm not able to replicate this. If I execute:

[code]
I get a single result as expected: `[Organization(id=116452523473)]`.

If nothing is found you shouldn't receive None back, you should get an empty SearchResultGenerator. Is this what you mean by null value?

In your example, what is `orginal_organization_name`? Is it a string, a list?

[2017-09-15 09:24] jhrs21 opened #152 "No comments in SatisfactionRating"
Hi @facetoe

Thanks for this great API, I'm trying to get the comments when a user rates a ticket. I don't see it in [this class](https://github.com/facetoe/zenpy/blob/92273d45748538c9149bba2536418c6aabe8cf8b/zenpy/lib/api_objects/__init__.py#L1894), is it OK? Maybe I missed something.

This  is the [zendesk documentation](https://developer.zendesk.com/rest_api/docs/core/satisfaction_ratings#satis

[2017-09-15 09:38] #152 closed

[2017-09-18 22:08] nealdav opened #153 "Help Center API Support"
Wasn't clear from skimming the docs if this is available.

zenpy.lib.api_objects.Topic Looks promising but I didn't see an example of it in action. Thanks

[2017-09-19 10:49] facetoe commented on #153
Hi @nealdav, the Help Centre API is not currently supported. In theory it would be straightforward to add support, it's just a matter of defining the endpoints and the objects. I won't have time to implement this for a while but I will mark this issue as an enhancement and return to it when I am able.

[2017-09-19 11:55] nealdav commented on #153
Sounds good and thank you for all of your great work on this client. It's proven to be very helpful.

[2017-09-19 16:39] facetoe commented on #151
Hi @jeromemyers02, as I haven't heard back I'm going to assume the issue is fixed. If you have any further trouble feel free comment or open a new issue.

[2017-09-19 16:39] #151 closed

[2017-09-19 21:04] shihanwan opened #154 "Support custom headers when making API requests"
This is to satisfy the new Zendesk Marketplace requirements for all Integration Apps:
https://help.zendesk.com/hc/en-us/articles/115010249348-Announcing-Updated-Apps-Marketplace-API-Header-Requirements

[2017-09-20 00:55] facetoe commented on #154
Hi @shihanwan, you should be able to do this by creating your own requests.Session object with the required headers and passing it to the Zenpy constructor.

[2017-09-23 14:11] shihanwan commented on #154
@facetoe Thanks for the reply! We will try that solution and close the ticket if it work :)

[2017-10-06 16:05] meriadok opened #156 "Api Object to JSON/string"
I'm trying to print all the properties of a returned object into a file, or a JSON, is there a way to do this or do I have to print all the individual fields of the object? Specifically, tickets and their audits.

Thanks in advance, I know this is probably not the right channel but I'm desperate.

[2017-10-06 22:24] squeakyboots opened #157 "Identities"
Hi facetoe!
I thought I read all the docs but am not seeing how identities handling would be managed in the current build. Am I overlooking something, or has it not been built out?

User Identities ZD documentation:
https://developer.zendesk.com/rest_api/docs/core/user_identities#list-identities

I see it gets pulled per the debug request in the docs under the "Caching" docs but it doesn't seem to

[2017-10-07 03:17] facetoe commented on #156
Hi @meriadok, the easiest way is to call the `to_dict()` method of the object, eg:

[code]
If the object you want to print contains nested objects, you can try the following:

[code]
This will recursively de-serialize all the nested objects to JSON.

Hope this helps!

[2017-10-07 03:44] facetoe commented on #157
Hi @squeakyboots, yes the docs are falling behind the code a bit, need to update them. Identities are supported and you can query the identities for a user as follows:

[code]
The other operations on identities are documented in the code and can be found here - https://github.com/facetoe/zenpy/blob/master/zenpy/lib/api.py#L486.

Hope this helps!

[2017-10-07 03:46] #154 closed

[2017-10-09 22:29] squeakyboots commented on #157
Derp, that makes sense, just wasn't where I expected it to be.

Thank you!

[2017-10-09 22:29] #157 closed

[2017-10-10 12:20] meriadok commented on #156
Amazing, thanks a lot dude!

[2017-10-10 12:20] #156 closed

[2017-10-17 10:44] caduri commented on #61
Hi, I just researching how to upload attachments to zendesk through zenpy and link them to the comment and its not clear from the documentation

Can you please add an example or a clarification to the docs, thanks

[2017-10-17 10:49] facetoe commented on #61
Hi @caduri, there is a snippet here that uploads an attachment - https://github.com/facetoe/zenpy#uploading-an-attachment.

The idea is you first upload the attachment and obtain an upload instance which contains the token. You can then add a comment to the ticket along with the token you obtained previously and it will be associated with the comment.

Let me know if you have any trouble.

[2017-10-17 11:27] caduri commented on #61
Thanks @facetoe, it's the same snippet as in this issue :)

I meant to suggest that you should add the snippet to the docs in http://docs.facetoe.com.au/zenpy.html?highlight=attachments#upload or where ever you think its appropriate

[2017-10-17 12:01] facetoe commented on #61
Ahh, I see. Well, pull requests welcome!

[2017-10-17 15:54] caduri opened #158 "Does zenpy support pagination"
Hi @facetoe I'm trying to find a way to use pagination using zenpy
according to Zendesk API they support pagination using the `per_page` and `page` params

Im using this function `zenpy.views.tickets(view_id)`

Thanks in advance

[2017-10-18 02:15] facetoe commented on #158
Hi @caduri, yes Zenpy supports pagination transparently via generators, eg:

[code]
You just need to iterate over the returned generator until it is exhausted:

[code]

Hope this helps!

[2017-10-18 07:17] caduri commented on #158
Thanks @facetoe for your reply.

The generator is very helpful when you need all the results, but what I'm asking is exactly the opposite, I need a way to get only 1 page and also to set the results per page

I think you support it in the search functionality

[2017-10-18 08:35] clagio opened #159 "zenpy search all tickets except closed and solved"
Hello,
I'm not sure how to make a search for all the tickets except the one in some particular status.
I tried with:
zenpy_client.search("", type='ticket', status!='closed',subject='ticket subject')
zenpy_client.search("", type='ticket', status<>'closed',subject='ticket subject')
zenpy_client.search("", type='ticket', -status='closed',subject='ticket subject')

In the documentation says to use the

[2017-10-18 10:46] facetoe commented on #158
Ahh I see what you mean. No this is not currently supported. I'm wondering if something like the following would suffice:

[code]

This would allow you to only retrieve the first N objects. If this won't work for your use case could you tell me a little more about what you are trying to achieve?

[2017-10-18 10:54] facetoe commented on #159
Hi @clagio, you could try something like the following:

[code]
There is a mapping table in the docs that shows how Zenpy translates the operators Zendesk uses  - http://docs.facetoe.com.au/zenpy.html#searching-the-api, and a great article provided by Zendesk that shows the available operators and how they can be used - https://support.zendesk.com/hc/en-us/articles/203663226.

I don't believe Zend

[2017-10-18 11:15] facetoe commented on #158
Yes that's true, not ideal. I can look at adding support for this, although it might be a bit tricky.

[2017-10-18 11:35] caduri commented on #158
I think about adding kwargs as a parameter to views.tickets and forward it to BaseApi._get
and there add it to url. It will look like this

`
def _get(self, url, raw_response=False, **kwargs):
        if kwargs:
            params = '&'.join("%s=%r" % (key, val) for (key, val) in kwargs.iteritems())
            url = '?'.join([url, params])
            response = self._call_api(self.session.get, u

[2017-10-18 11:36] caduri commented on #158
This will work in my use case

[2017-10-18 11:44] facetoe commented on #158
I think if we add support for this it needs to work anywhere a generator is returned. Currently the `Endpoint` classes are responsible for building URLs, so that's one logical place this could be done. Another option could be to pass these parameters to the `requests` HTTP method as `params`. I'll need to stare at the code a bit and figure out a way to add this cleanly so it works everywhere you w

[2017-10-18 11:55] caduri commented on #158
Yeah I figured this is what you'll say. The wrapper is too generic for me to do a quick PR

Let me know if I can help

[2017-10-23 14:20] #159 closed

[2017-10-24 12:16] bighelmet7 opened #160 "Properly Support Ticket Fields"
Im trying this current line:
    zenpy_client.ticket_fields.update(field)
but the IDE tells me: 'Api' has not 'update' method
There's no update endpoint for Ticket Fields?

[2017-10-24 12:27] bighelmet7 commented on #160
The update, creating, ... is not supported

https://github.com/facetoe/zenpy/issues/28

[2017-10-24 13:27] facetoe commented on #160
@bighelmet7, I'm going to keep this issue open to remind me to implement this when I get the chance. It shouldn't be too hard to add support.

[2017-10-24 13:47] bighelmet7 commented on #160
Amazing! thanks @facetoe

[2017-10-25 05:20] snexus commented on #86
Hey @facetoe - think there is still a bug converting the timezones.

Referring to the same code - you are using time.mktime(..) after converting to UTC, but time.mktime assumes local time, not the UTC one. As a result start_time which is passed  to incremental endpoint is wrong (depends on local time).

The solution would be using calendar.timegm(..) instead? See https://stackoverflow.com/question

[2017-10-25 10:37] oodzee commented on #115
Hi @facetoe,

When trying to update a user identity, I got the following error message:
`{"error": {"message": "You passed an invalid value for the identity attribute. Invalid parameter: identity must be a hash", "title": "Invalid attribute"}}`

The code I'm using to update the identity is:
`zenpy_client.users.identities.update(
            user=user.id,
            identity=Identity(id=identity_t

[2017-10-25 13:51] ravangen commented on #86
I believe @snexus is correct. If you have an datetime that is not timezone aware, the question is should the system assume `start_time` is the local time or the utc time.

Given the log warning message includes `... The Zendesk API expects UTC time, if this is not the case results will be incorrect!`, I would think `start_time` should be assumed to be UTC where `calendar.timegm` looks like the cor

[2017-10-26 20:32] flpStrri opened #162 "Support NPS API"
Is there any plan to implement NPS incremental api presented on [https://developer.zendesk.com/rest_api/docs/nps-api/nps_incremental_export](https://developer.zendesk.com/rest_api/docs/nps-api/nps_incremental_export)? I am not sure how to implement it but since it works the same way as the other incremental ones it will probably be quite simple.

[2017-10-27 01:39] facetoe commented on #162
Hi @flpStrri, not currently, but I can look to add support for this API when I get the chance.

[2017-10-27 01:42] facetoe commented on #86
Yep, makes perfect sense.

[2017-10-27 02:31] facetoe commented on #115
Hi @oodzee, thanks for the report, this is a bug. Patch incoming.

[2017-10-27 02:35] facetoe commented on #115
I've got some more changes coming but I'll push an update to PyPi hopefully within the week.

[2017-10-27 05:19] #86 closed

[2017-10-27 10:25] flpStrri commented on #162
Do you have a dev oriented readme? If you give me a high level overview of how you implement this I can make a PR. I will need to implement a good way of getting this data anyway, in your library or in my.

[2017-10-27 19:18] flpStrri commented on #162
Hey, @facetoe not sure if you saw, I created the PR to fix this ticket. Can you check it, please? ❤️

[2017-10-29 05:18] facetoe commented on #162
Thanks @flpStrri! I'm going to leave this issue open as I'm hoping to add full support for the NPS endpoints soon.

[2017-10-29 10:03] flpStrri commented on #162
That will be great!

[2017-10-30 19:03] flpStrri commented on #162
@facetoe I forgot to bump the version number. You need to change that to update pip?

[2017-10-31 13:59] caduri commented on #158
Any update on the subject?

[2017-11-02 01:15] jayesh423 opened #164 "HTTPSConnectionPool Error while reading data from Zendesk using Zenpy"
Hi facetoe,

I am backfilling tickets data from Zendesk using zenpy. I am using tickets.incremental and saving 1000 records after each response. It runs fine for an hour and it writes data as well. However, it fails after that. I tried running it couple of time locally and it failed after reading different no. of rows.

Not sure what is wrong. I've included stack trace here. Can you please help ou

[2017-11-02 02:40] facetoe commented on #158
Hi @caduri, no I haven't had a chance to look into this yet. I'm a bit busy at the moment so it might take a while until I get the chance unfortunately.

[2017-11-02 02:50] facetoe commented on #164
Hi @jayesh423, is the amount of time it takes to throw the error pretty constant, or does it sometimes fail after only a few minutes? Also are you writing to the API as well as reading?

[2017-11-02 02:51] facetoe commented on #162
@flpStrri, I have some more changes coming soon and was planning on updating pip with those as well. With any luck it won't be too much longer until that work is done.

[2017-11-02 03:31] jayesh423 commented on #164
Thanks @facetoe for quick response.
processing time is not constant. It runs for more than an hour without any issues.
I am only reading data.

[2017-11-03 05:26] nealdav opened #165 "requests.comments(request_id) returns a user object?"
It appears that the zenpy_client.requests.comments(request_id) api returns a user object instead of a comment object.

Please let me know if this is actually the expected result. Thanks

[2017-11-03 05:40] facetoe commented on #165
Thanks for the report @nealdav, that sounds like a bug.

[2017-11-03 05:55] facetoe commented on #165
I've pushed a patch to fix this issue. I'm planning on pushing a new version to PyPi in the next week or so as I have some other changes as well.

[2017-11-03 16:49] jayesh423 commented on #164
is the amount of time it takes to throw the error pretty constant--> No
does it sometimes fail after only a few minutes? --> No. It is running for at least an hours in last 4 trials
Also are you writing to the API as well as reading? --> Just reading data from Zendesk

[2017-11-06 02:45] facetoe commented on #164
Hmm, looking at the error it seems likely that this is an issue with Zendesk itself. One theory for what is going on might be that one of the Zendesk servers has a misconfigured SSL certificate, and you only hit this server very rarely. That would explain why it takes so long for the error to appear.

If you enable logging we can test this theory as Zenpy dumps the headers on exceptions talking to

[2017-11-08 23:57] learnonthefly opened #166 "Requester ID endpoint for Ticket object"
Possible to add ability to pull Requester ID (or even better Requester email) for a given Ticket ID? Many thanks!

[2017-11-09 01:40] facetoe commented on #166
Hi @learnonthefly, if I understand you correctly, this is already possible:

[code]

[2017-11-09 23:56] bjaus opened #167 "Ticket Events"
Does zenpy support accessing ticket events for a specific ticket given the ticket id?

Great work by the way!

[2017-11-10 01:27] facetoe commented on #167
Hi @bjaus,

Yes you can access all the events that have occurred for a given ticket via ticket audits:

[code]

Hope this helps!

[2017-11-10 15:10] bjaus commented on #167
Awesome I didn't even think to look at the audits. Thanks for your help!

[2017-11-10 16:40] facetoe commented on #167
No worries!

[2017-11-10 16:40] #167 closed

[2017-11-14 13:10] Shaakmiller opened #168 "Search between_* throws away information"
My local time-zone is UTC-5 and everything in Zendesk is UTC. If I want to ask for everything up to now, I would think I can use:

`today = datetime.datetime.now() + datetime.timedelta(hours=5)

# OR I COULD USE:

from pytz import timezone
import pytz

utc = pytz.utc
eastern = timezone('US/Eastern')

today = eastern.localize(datetime.datetime.now())

#However it only works if I use:

today = datet

[2017-11-14 16:29] facetoe commented on #168
Thanks for the report @Shezmula, this looks like a bug in the `between_*` handling where it throws away the hour/minute information and only sends the date. If you enable logging you can see the request generated for the following code:

[code]

is:

`https://zenpydevhelp.zendesk.com/api/v2/search.json?query=created>2017-11-09 created<2017-11-14`

According to the docs I found here (https://suppor

[2017-11-14 16:32] #164 closed

[2017-11-15 20:48] Shezmula commented on #168
Hmmmm, ok, I will see if I can write up a quick fix in the mean time. Thanks for looking into that so quickly.

[2017-11-17 11:11] leoqivivo opened #170 "Access to ticket_metrics"
Hi !

thank you for this very usefull wraper,

i have a little question : how can i access to the ticket_metrics of a ticket (for example, i need the number of replies of a ticket, contained in the object "TicketMetric") ?

thanks,

Léo

[2017-11-17 11:16] facetoe commented on #170
Hi @leoqivivo, yes you can access the TicketMetric for a ticket as follows:

[code]

Hope this helps!

[2017-11-17 11:16] #170 closed

[2017-11-17 11:34] leoqivivo commented on #170
Thank you for your reactivity !
yes its works :)

[2017-11-17 13:41] facetoe commented on #168
Fixed in #169.

[2017-11-17 13:41] #168 closed

[2017-11-17 15:35] leoqivivo opened #171 "Resarch rapport is it implemented ?"
Hi again, thank you for your awnser this morning,

i have another question (the last one, promised !) :
how can i take the data about the "research" in zenpy ?

you can analyse the request of client (who ask from help center of my website) on zendesk, and i don't know if you implemented this in zenpy

thank you,

Léo

[2017-11-17 15:37] facetoe commented on #171
Hi @leoqivivo, can you link me to the Zendesk API documentation that describes this feature? If so I can tell you if it's implemented and where to find it in Zenpy.

[2017-11-17 16:03] leoqivivo commented on #171
That's the problem, i don't find in the zendesk, but maybe its exists and i didn't find it
its looks like this :
https://support.zendesk.com/hc/en-us/articles/203662296
at the end, the part "Viewing top content, searches, and agents"

thank you !

[2017-11-17 16:06] leoqivivo commented on #171
if found this :
https://developer.zendesk.com/rest_api/docs/help_center/search

[2017-11-17 16:21] facetoe commented on #171
I don't think Zendesk exposes that information via the API unfortunately.

[2017-11-17 17:04] leoqivivo commented on #171
ok thanks

[2017-11-19 00:53] #171 closed

[2017-11-27 09:38] konaya opened #172 "Can't iterate over a single search result"
I'm not sure if I'm doing something wrong here. I create a ticket, search for it, get one search result as expected, but then I can't do a next() to retrieve it. Is this expected behaviour? If so, how is it supposed to be handled?

I'm running version 1.2.3 on Python 2.7.14.

[code]

[2017-11-27 14:00] konaya commented on #172
I could provice a [pickled](https://wiki.python.org/moin/UsingPickle) zenpy.lib.generator.SearchResultGenerator object if that would do any good.

[2017-12-01 04:47] JulianSchneider opened #173 "user_fields returns [UserField(id='None')]"
When I retrieve a user by ID that has a custom user field, the user_field dictionary returns [UserField(id='None')] where as the curl call returns the actual values.

Submitting the fields works fine.

[2017-12-01 05:25] facetoe commented on #173
Hi @JulianSchneider,

Yes this is a little confusing, but your values are there in the UserField object. If you had a field called `test_user_field`, you could access it as follows:

[code]

Alternatively, if you want you fields in the same format as the curl command returns, you could do:

[code]

The reason you see the strange id='None' business has to do with how the `__repr__` method works for

[2017-12-01 06:02] facetoe commented on #172
Hmm, this is a strange one. I am unable to replicate this behaviour. Can you check that the `_response_json` attribute of the `SearchResultGenerator` is populated correctly? It should match the response you get from executing the same request via `curl`.

If you turn logging on DEBUG you will see the request URLs that are being generated.

It's probably best not to send through a pickled `SearchRe

[2017-12-02 20:43] Shaakmiller opened #174 "Help desk api"
Hello,

Does zenpy support the help desk API? For example, can I make calls to download or create knowledge base articles?

Thank you,

Joshua

[2017-12-03 00:23] facetoe commented on #174
Hi @Shaakmiller, I started implementing support in this branch - https://github.com/facetoe/zenpy/tree/help_centre_api, however I never got the time to finish it. Most of the API is supported, and when I get the chance I will finish it off. If you you do use this branch please note that it is unstable and the Python API may change a little before it is merged into master.

I haven't had a chance t

[2017-12-03 03:27] #173 closed

[2017-12-03 12:39] Shaakmiller commented on #174
Alright, thanks for letting me know. I will probably take a crack at it in a few months, just wondering if it was in your sights.

[2017-12-03 12:46] Shaakmiller commented on #174
Yes this helps, thank you!

[2017-12-04 03:41] nealdav commented on #165
Awesome. Thank you!

[2017-12-06 13:03] inmorales opened #175 "Incremental export to dataframe"
Hello,

Do you know how can I convert result generator of incremental ticket export object to a dataframe (pandas)? and another question, is there any quick way to transform custom_fields in a dataframe of pandas?

Thank

[2017-12-07 10:42] facetoe commented on #175
Hi @inmorales, I'm not very familiar with pandas so can't help with this. The one thing that might assist however is converting your Ticket objects to Python dictionaries and then to pandas dataframes. The first step can be done as follows:

[code]
This will recursively serialize the Ticket object and any nested object to JSON, then convert to a Python dict.

Hope this helps!

[2017-12-07 10:42] #175 closed

[2017-12-08 23:04] #174 closed

[2017-12-08 23:08] facetoe commented on #153
I've merged initial support for the HelpCentre API into master. There are a couple of endpoints that still are not supported, but the majority are. I haven't written any docs yet, but you can see what is available here - https://github.com/facetoe/zenpy/blob/master/zenpy/lib/api.py#L1468.

Let me know if you have any issues!

[2017-12-08 23:20] facetoe commented on #160
Hi @bighelmet7, I've added support for CRUD operations on TIcketFields.

[2017-12-08 23:27] facetoe commented on #165
I've pushed a new version to PyPi.

[2017-12-08 23:27] #165 closed

[2017-12-08 23:27] facetoe commented on #172
Hi @konaya, as I haven't heard back I'm going to assume this issue is resolved. If you have any further trouble with this issue feel free to reopen.

[2017-12-08 23:27] #172 closed

[2017-12-11 13:41] oodzee opened #176 "Bug with the UserIdentities"
Hi @facetoe!

Thanks for the update for the identities, it works now!
However, I think I noticed some other bug linked with the identity:

If I want to make an identity primary, the code gets the identity id

`      if isinstance(identity, Identity):
            identity = identity.id
        return UserIdentityRequest(self).put(self.endpoint.make_primary, user, identity)`

but this is also repeat

[2017-12-11 16:08] divad opened #177 "pytz missing from requirements"
Hi,

The latest version of zenpy seems to need pytz, but it is not in requirements so does not get installed automatically when using pip to install zenpy.

[2017-12-11 21:39] facetoe commented on #177
Thanks for the report @divad, I'll fix this up.

[2017-12-12 02:02] wilbuick opened #178 "users.identities.show(user, identity) issue"
I've found a bug in the users.identities.show method. The error seems to be on the following line

https://github.com/facetoe/zenpy/blob/master/zenpy/lib/api.py#L551

The issue seems to be that the url constructed on the line above does not contain the scheme or hostname and calling _get seems to require this.

The traceback I'm getting is below

[code]

I may end up writing a patch for this so if

[2017-12-12 02:45] wilbuick commented on #178
Pull request here

https://github.com/facetoe/zenpy/pull/179

[2017-12-12 06:54] #178 closed

[2017-12-12 17:44] inmorales opened #180 "Export large ticket metrics"
Hello Facetoe

Do you know how I can export all the ticket_metrics of tickets?
I have a python script that bring ticket with incremental export (1000 tickets at once) and I do not understand the incremental metric export. When I tried to call one "zenpy_client.tickets.metrics(ticket_id=<tricket_id>)" for each ticket in each package, this spend about 17 min by 1000 tickets. This is a lot of time be

[2017-12-12 18:41] inmorales commented on #180
I just understand that "zenpy_client.ticket_metrics()" can help, but there are no bibliography abaut this object or endpoint. Do you know How can I do something similat to incremental ticket with this? I mean something with date.
The problem with the incremental ticketmetric is that this no give the metrics of a ticket. These call give me just the modification and I do not understand how use it.

[2017-12-13 08:56] facetoe commented on #180
Hi @inmorales,

Yes with that sort of volume the `zenpy_client.tickets.metrics` approach will take forever. Have you looked at the incremental Ticket Metric Events endpoint - https://developer.zendesk.com/rest_api/docs/core/ticket_metric_events?

You can access this in Zenpy as follows:

[code]

This endpoint should be much faster to query.

Hope this helps!

[2017-12-13 12:42] inmorales commented on #180
I tried this, but I do not undestand how use it. Because I think that this endpoint comes with ticket metric event and I don't know how use it.

[2017-12-13 21:44] facetoe commented on #180
Well I'm not sure how I can help as I don't know what you are trying to achieve.

[2017-12-14 14:24] inmorales commented on #180
I would like to achieve a list or dict with this information:
ticket_id
created
updated
reopens
replies
assignee_update
requester_updated
status_updated
initially_assigned
assigned
solved
latest_comment_added
reply_time_in_minutes
first_resolution_time_in_minutes
full_resolution_time_in_minutes
agent_wait_time_in_minutes
requester_wait_time_in_minutes
on_hold_time_in_minutes

[2017-12-14 18:26] ThiagoCobli opened #181 "Can't fetch all data from chat api"
Hello.
It seems that this lib does not support pagination feature, and I can't fetch all data. When I use curl I can paginate normally using the `next_url` param from response.

Could you please help? If it does not support pagination, could you give instructions on how to implement?

Thanks in advance.

[2017-12-15 10:41] facetoe commented on #181
Hi @ThiagoCobli, Zenpy supports pagination transparently via generators. You can iterate over results as follows:

[code]

[2017-12-15 10:54] facetoe commented on #180
It doesn't look like the incremental Ticket Metric Events provide all that information, so you're out of luck. Maybe get in touch with Zendesk and see if they can suggest a way to get this information without querying Ticket Metrics for each ticket.

[2017-12-15 10:54] #180 closed

[2017-12-15 11:04] bighelmet7 opened #183 "Updating User object with multiple organizations on Enterprise removes organizations"
Hi! I found an error this morning, that its quite annoying:

Suppose you've got an user with two or more organizations, and you need to append a tag to the list tags of the user so your code would look something like this:

    USER_ID = 1234
    creds = {...}
    zenpy_client = Zenpy(**creds)
    user = zenpy.users(id=USER_ID)
    user.tags.append("new_tag")    #this is the tag you need to append

[2017-12-15 11:20] facetoe commented on #183
Hi @bighelmet7,

This issue does not arise if you pass the modified user to the update method, instead of creating a new User object and passing that. For example:

[code]
Outputs:

[code]

[2017-12-15 11:22] bighelmet7 commented on #183
@facetoe the tags are successfully modified, but if your user has more than one organization, and made the zenpy.users.update he will loose all the organizations. Im using python3.6.1

[2017-12-15 11:23] facetoe commented on #183
Ahh sorry, I misread your issue.

[2017-12-15 11:40] facetoe commented on #183
Ahhh, are you on an Enterprise plan? I only have a trial account, and according to - https://support.zendesk.com/hc/en-us/articles/203661766-About-organizations-and-groups, Enterprise users can belong to multiple organizations but trial and Team cannot.

I'll need to get in contact with Zendesk and see if they will give me an Enterprise account to test with. It might finally be time to have a go a

[2017-12-15 11:44] facetoe commented on #137
This is leading to bugs such as #183.

[2017-12-15 11:47] JulianSchneider opened #184 "Upload User Image"
Is there a way to add a user image to user created by the API?

[2017-12-15 11:58] bighelmet7 commented on #183
@facetoe yep! but I can attach you the json:

The next user has got 3 organizations, but when you call the user endpoint, you only get one organization:

<img width="319" alt="captura de pantalla 2017-12-15 a las 12 51 31" src="https://user-images.githubusercontent.com/23640897/34041045-b1ee9b12-e196-11e7-8b02-7b817e0798b2.png">

{
  "user": {
    "id": 116104534834,
    "url": "https://test.zende

[2017-12-15 12:06] facetoe commented on #183
That's awesome @bighelmet7, I've been wishing I had an Enterprise account for years! I'll sign up and have a go at implementing this when I get time. I might be able to get some work done on it this weekend.

[2017-12-15 12:11] bighelmet7 commented on #183
@facetoe thats awesome! Im trying to understand more the framework so Im been able to made commits. Have fun with the Enterprise! Its more worth than trial, if you need more info, our company is an official Zendesk Partners :)

[2017-12-15 12:20] facetoe commented on #184
Yep, looks like this does the trick:

[code]

[2017-12-15 13:16] JulianSchneider commented on #184
Works! Should be added to docs or wiki :)

[2017-12-15 23:20] facetoe commented on #183
That's excellent @bighelmet7, thanks!

[2017-12-15 23:46] #176 closed

[2017-12-16 00:07] #177 closed

[2017-12-16 00:11] facetoe commented on #184
Done!

[2017-12-16 00:11] #184 closed

[2017-12-16 04:02] facetoe commented on #183
@bighelmet7, I've implemented support for incremental object updates in https://github.com/facetoe/zenpy/tree/incremental_object_updates. Are you able to test if this fixes the issue with deleting organizations? I haven't heard back from Zendesk yet about the Enterprise plan, but it is the weekend :)

[2017-12-16 04:39] bighelmet7 commented on #183
@facetoe ofc! in a few hours I could test it. You're awesome how you fix it in a short time!
Glad you finally will have the Enterprise

[2017-12-16 14:48] facetoe commented on #158
Hi @caduri,

I've added a prototype implementation of slice based pagination. The current implementation has some limitations:

* Does not support indexing at all
* Does not support setting `per_page`
* Does not support negative values
* Always pulls the first 100 objects
* Does not support multiple accesses

On the bright side, it has a few advantages:

* Supports simple use cases, like retrievin

[2017-12-17 06:08] facetoe commented on #158
Now supports passing `page_size` as the slice "step" parameter.

[2017-12-17 06:54] #183 closed

[2017-12-17 07:09] facetoe commented on #137
Merged 02ea7c69169c83145366e8e10e072e2c46d84dfe

[2017-12-17 07:10] facetoe commented on #183
Hey @bighelmet7, I merged these changes into master, so it's best to test from there!

[2017-12-17 07:13] facetoe commented on #158
Merged in b9b5479cad61e861bba6abd7e63700036591e08f

[2017-12-17 10:42] bighelmet7 commented on #183
@facetoe Sorry I wasnt able to test it yesterday, at the moment I'm downloading the repo!

[2017-12-17 10:50] bighelmet7 commented on #183
Works amazing @facetoe, you're a genius!

[2017-12-17 10:56] bighelmet7 commented on #183
@facetoe can you explain a little how the new commit works? I cant understand, that of self.__dict__['_dirty_attributes'] its like, everything that was change will be in the dirty_attributes to send to zendesk?

[2017-12-17 11:34] facetoe commented on #183
Yep, that's right. The way it works is whenever you assign a value to an object in python using the dot notation, eg `user.name = 'Bob'`, under the hood it calls [\__setattr__](https://docs.python.org/3/reference/datamodel.html#object.__setattr__). In `BaseObject` I override that method [here](https://github.com/facetoe/zenpy/blob/master/zenpy/lib/api_objects/__init__.py#L18), to add the name of t

[2017-12-17 18:39] bighelmet7 commented on #183
@facetoe amazing !!! you're my reference to be a success Python programmer :)

[2017-12-19 06:37] facetoe commented on #183
Haha I'm flattered, but there are lot better Python programmers than me :) The [requests](https://github.com/requests/requests) project has some really nice Python code.

[2017-12-20 15:42] bighelmet7 commented on #160
Hi @facetoe I was trying to update a custom_field_options from a TicketField, and with the CRUD I wasnt able to update it, but this is a current bug on Zendesk with custom_field_options.
For exemple, this is a ticket_fields.to_dict() printable:

{
  "active": true,
  "collapsed_for_agents": false,
  "created_at": "2017-10-17T09:33:35Z",
  "description": "",
  "editable_in_portal": false,
  "id": 1

[2017-12-21 07:45] facetoe commented on #160
Hmmm, this could be a bug with the new incremental update feature. When you execute `ticket_field.custom_field_options.append({"name": "test_new", "value": "test_not_hot"})` it won't call `__setattr__` on the object and as such the `custom_field_options` won't be set as dirty and sent off to Zendesk.

Do you get the same behaviour if you use the version of Zenpy that is currently in Pip?

[2017-12-21 07:46] facetoe commented on #160
Wait. scratch that, you said you tried using curl as well.

I just need to implement https://developer.zendesk.com/rest_api/docs/core/ticket_fields#create-or-update-a-ticket-field-option and then you should be able to modify custom_field_options.

[2017-12-21 07:48] bighelmet7 commented on #160
I didnt see that endpoint, now I understand all the failures! Because is another method of TicketFields.

[2017-12-21 07:52] bighelmet7 commented on #160
I was using this endpoint: PUT /api/v2/ticket_fields/{id}.json, sending just the custom_field_options, and it fails, and how is the "right way" to modify custom_field_options that will be reflected on
    __setattr__ with the current zenpy version?

[2017-12-21 08:38] facetoe commented on #160
This `__setattr__` thing is still a pretty big issue. I'm not sure how to fix it right now, need to think about it a bit.

[2017-12-25 03:14] facetoe commented on #160
Hi @bighelmet7, I think I've fixed the `__setattr__` issue in 4f53c1094b30e3bdb510214c68d6d83fe853906c and now updating lists/dicts should work as expected.

[2018-01-03 20:16] rtkmrussell opened #187 "Sideload kwarg generates incorrect Zendesk URL"
I am trying to fetch requests as a normal end user and use sideloading to get the display name of users associated with the request:
[code]
Based on my limited understanding of the code in `endpoint.py` it looks like that should be a supported syntax.

Around line 120 in `endpoint.py` it looks for the sideload kwarg:
[code]

At that point, `query` is just `requests/123.json`, but `self._format_sid

[2018-01-09 02:22] akhil007garg opened #188 "Use Zenpy to Count the total number of open tickets with a tag"
Hi All,

I am new to python and I am trying to use Zenpy to count all the tickets in my Zendesk instance which are open and have a tags='abc'. Can anyone suggest how can this be done?

So for example - I have 5 open tickets with tags='abc'. Now I want Zenpy to search all the tickets and give me the total number.

sample code-
for ticket in zenpy_client.count(status='open', tags='abc'):
...     pri

[2018-01-09 06:40] facetoe commented on #187
Thanks for the report @rtkmrussell. The way sideloading is currently implemented is a bit terrible, I've been meaning to refactor it for a while now.

What you tried is perfectly logical but not supported by the current implementation. The way it works is sideloads are defined per endpoint, for example - https://github.com/facetoe/zenpy/blob/master/zenpy/lib/endpoint.py#L468.

I must have missed t

[2018-01-09 06:41] #187 closed

[2018-01-09 06:43] facetoe commented on #188
Hi @akhil007garg,

You should be able to do this as follows (untested):

[code]

[2018-01-09 06:43] #188 closed

[2018-01-09 16:10] oodzee commented on #176
Hi again @facetoe

Thanks for the fix for this. After testing, it works and I can make an identity primary but I get the warning:
`WARNING:zenpy.lib.api:Non-zenpy object found in _dirty_object list 115441605054. This should never happen!
`

115441605054 being in this case the id of the identity that I want to make primary.

The code that triggers this warning is the following:
`zenpy_client.users.

[2018-01-09 22:11] akhil007garg commented on #188
Thank you for a quick reply facetoe. I think, I found a solution which will give me an exact count.

What I did was
1. I imported the class which holds count function
2. I created a variable holding my search string for example - tick = zenpy_client.search(type='ticket', status='pending', tags='abc')
3. Called this variable with function count - tick.count

Hence, it gave me the exact number I nee

[2018-01-10 06:58] facetoe commented on #188
Excellent, glad you got it working.

[2018-01-10 07:03] facetoe commented on #176
Hi @oodzee, thanks for the report. Just to clarify, does the code above successfully make the identity primary?

The warning shouldn't be anything to worry about. It is generated when trying to clean up dirty objects after they have successfully been submitted to Zendesk. I should probably set the log level to DEBUG though.

[2018-01-10 07:04] facetoe commented on #176
Also, I should mention that it should work using either an object or an id.

[2018-01-11 08:24] oodzee commented on #176
@facetoe: Yes it does make the identity primary, and I tried both (id or object) to see if it would remove the warning but I haven't been successful so far.

[2018-01-11 08:32] facetoe commented on #176
Excellent, thanks. I'll fix up the warning.

[2018-01-24 11:12] mardicas opened #190 "Unable to set ticket created_at and updated_at values."
Hi,
I am able to set due_at, but NOT created_at and updated_at values when creating ticket. The ticket get's created but has the created_at and updated_at set to current time, not what I set in the api call.

[code]
I have tried to change the status and also use tickets.update after creating the ticket to change the values.

Example values from to_dict():
`{'status': 'open', 'description': u'Impor

[2018-01-28 19:34] jdmarch opened #191 "Support for ticket_audits? (Not the same as tickets.audits)"
The `ticket_audits` endpoint can be used to return the most recent audits, regardless of what ticket they are for. (Vs. tickets.audits, that can return all the audits for a given ticket.)
https://developer.zendesk.com/rest_api/docs/core/ticket_audits

In the absence of support for this endpoint, seems like the most likely way to get recent audits would be to get the most recently updated tickets ~

[2018-01-28 22:59] jdmarch commented on #191
Also the ticket_audits endpoint can return up to 1000 recent audits with a single API call, vs 1 or 2 API calls per changed ticket IIUC.

[2018-01-29 01:05] jdmarch commented on #191
Corrected issue description which wrongly referred to tickets.recent

[2018-01-29 01:19] facetoe commented on #191
Thanks for the report @jdmarch. This looks like a new endpoint, I'll add support when I get the chance.

[2018-01-29 01:24] facetoe commented on #190
Hi @mardicas, yes this is becuase created_at and updated_at are read only attributes of a ticket: https://developer.zendesk.com/rest_api/docs/core/tickets. If you are importing tickets from an external system you are better off using the ticket import API which allows setting these values: https://developer.zendesk.com/rest_api/docs/core/ticket_import.

[2018-01-29 01:24] #190 closed

[2018-01-30 00:04] bjaus opened #192 "Downloading Attachments from Audit Events"
Is there a way to download an attachment found in the audit events?

[2018-01-30 17:11] facetoe commented on #192
Yes, I'm sure there is. I'll look into this when I get a chance.

[2018-01-30 19:52] bjaus commented on #192
I ended up taking the following approach:
[code]
Which might not be the best approach but it did the trick. Thanks for making this wrapper straight forward. Solid work!

[2018-01-31 14:57] facetoe commented on #192
Nice, glad you figured it out. I think I'll add a convenience method to the attachment API to do this so you don't need to mess around with requests directly.

[2018-02-02 13:16] sreenathmenon opened #193 "Latest Tickets are not having Assignee details"
Hi Guys,

I am using Zenpy version 1.2.6. Everything was working correctly till 4-5 days back.

_**Exact issue:**_

**New Tickets - When I create a ticket and view it's details, it doesn't contain Assignee details. Assignee Id is returned as 'None' in the api response.**

Api Response

`
{'follower_ids': [], 'via': Via(), 'updated_at': u'2018-02-02T12:55:54Z', 'submitter_id': 36004*****, 'assignee

[2018-02-02 13:34] facetoe commented on #193
Hmm, I haven't seen this before. When I create a ticket I the assignee is set as expected:

[code]
How are you creating your tickets? Does the user associated with your email address exist?

[2018-02-02 14:02] sreenathmenon commented on #193
Hi,

I have done further testing on this using multiple accounts.

**1) Account 1 - Assignee details are returned correctly. (an old account)**

First Output - Assignee details
Second Output - full Ticket response

`
User(id=8668193668)
`
`
{'follower_ids': [], 'via': Via(), 'updated_at': u'2018-02-02T13:46:49Z', 'submitter_id': 8668193668, 'assignee_id': 8668193668, 'brand_id': 1535088, 'api': <z

[2018-02-02 14:36] facetoe commented on #193
Yea I'd guess it must be related to the account settings in some way. As far as I know you must have the API explicitly enabled or it won't authenticate you, so it is a bit funny that the old account didn't have this enabled. Maybe try enabling it for the old account and see if the issue is still present?

[2018-02-02 17:37] #193 closed

[2018-02-02 21:22] tesmerjg opened #194 "TypeError when string coded int passed as rate limit parameter"
I observed this error:

[code]
and through debugging identified that the issue is that i coded the rate limit as a string in my config file, like this: "10".

the issue was clearly mine, but perhaps changing to int(self.ratelimit) rather than just self.ratelimit would prevent others from encountering this issue?

[2018-02-04 01:22] facetoe commented on #191
Hi @jdmarch, I've added support for this endpoint. Here is a quick example of how it can be used:

[code]

[2018-02-04 02:54] facetoe commented on #194
Sure, can't hurt.

[2018-02-04 02:54] #194 closed

[2018-02-04 03:15] facetoe commented on #192
I added a convenience method to download attachments. You can use it as follows:

[code]

[2018-02-04 03:15] #192 closed

[2018-02-04 19:32] jdmarch commented on #191
Thanks, @facetoe , looks brilliant. I'll report if I encounter any issues.

[2018-02-06 02:59] jdmarch opened #195 "Bug? when tickets.audits generator is consumed in one chunk, the returned cursors are broken"
[code]

[2018-02-06 03:38] jdmarch commented on #191
AFAICT, that is true if the explicit cursor is an `after_cursor`. If the explicit cursor is a `before_cursor`, then it consumes audits created before that point, yes?

With that in mind, I don't yet see the use-case for the reversed generator here, but that's probably just since I haven't yet played with it.

[2018-02-06 04:25] jdmarch opened #196 "reversed tickets.audits generator behavior seems inconsistent"
Running this code after creating client `zpc`:

[code]

Gives this output:

[code]

The first chunk of results are in chronologically increasing order, whereas each subsequent chunk of results are in decreasing order (as is expected if one is running backwards in time).

Saving the user the effort of chaining together a series of chunks, by implicitly retrieving and passing on the before_cursor, i

[2018-02-06 05:14] facetoe commented on #196
Hmm yes I see the issue. I'm not set on using the `reversed()` method, happy to consider alternate implementations. One possibility could be to explicitly define the direction that you intend to iterate when calling the method, and then depending on the value passed return a generator going in that direction.

For example you could do something like (have to think of better names):

[code]
What do

[2018-02-06 05:20] facetoe commented on #195
I'm going to close this issue and we can work on sorting out this feature in #196.

At first glance it has to do with the fact that the cursors are updated on each call to Zendesk - https://github.com/facetoe/zenpy/blob/master/zenpy/lib/generator.py#L55.

[2018-02-06 05:20] #195 closed

[2018-02-06 15:25] jdmarch commented on #196
An explicit direction sounds good to me. (Explicit > implicit and all that)

I would think that backwards should be the default, because it's the only direction that can be started without already having an explicit cursor.

When chaining repeated chunks backwards, the before_cursor would be passed between chunks, and also by the user if starting with an explicit cursor.

When chaining repeat chun

[2018-02-08 18:46] inmorales opened #197 "Ticket Last comment"
Is there a way to find the last comment of a ticket? I would like to put the last comment when I bring the tickets with incremental export.

[2018-02-13 00:48] jdmarch opened #199 "Support for creation of user as part of ticket creation?"
Does zenpy support this pattern?

https://developer.zendesk.com/rest_api/docs/core/tickets#creating-a-ticket-with-a-new-requester

[2018-02-13 01:08] jdmarch commented on #199
This may not be worth the time. I was hoping that this might provide a way to support a custom role that could create tickets for new users, but could not delete existing users. But on reflection, that seems unlikely, constrained by Zendesk rather than by zenpy.

[2018-02-13 06:52] facetoe commented on #199
No worries, I'll leave this open though and implement it when I get the chance. Shouldn't be too tricky to do.

[2018-02-13 06:55] facetoe commented on #196
I'm not quite sure I understand what you mean by chaining chunks. I was thinking you just kick the generator off in a direction with an optional limit and it keeps on going until either it runs out of audits or it hits the limit. Happy to look at implementing something with chaining that but would need to have a better understanding of how it should work first!

Yes, agreed. I'll add that in.

[2018-02-13 16:14] jdmarch commented on #196
To be explicit, and for clarity -- there's always a limit. I think the default (and the max allowed) is 1000. What's optional is that you can specify a smaller value. That's the max number of audits that ZD will give you with one API call. That's what I meant by a "chunk". Different limit values (chunk sizes)  may be useful in different situations

It's most convenient to have the generator keep p

[2018-02-13 23:31] tesmerjg commented on #61
Do you happen to have an example of uploading multiple attachments?

I'm having issues in the case of a ticket with multiple attachments and I'm not sure if its a bug or my misunderstanding of the Zenpy and the Zendesk API.

It seems like the only way I can upload multiple files in a single comment is to include a number of different tokens (passed in as an array of tokens) to the uploads field of

[2018-02-15 15:29] oodzee commented on #181
Hi @facetoe,

I think that the pagination is indeed not working, unless I missed something.
In my code, I have this:
`list_total = zenpy_client.chats()
total = len(list_total)
print("Found {} entries".format(total))
for item in list_total:
   [...code to insert item in db]`

The result printed is "Found 3521 entries" but in the db I got only 40 rows, which is only the first page ("The Search Chats

[2018-02-15 22:21] facetoe commented on #181
It may well be broken, but can you try executing the following:

[code]

And see if it still only returns 40 items? The chat endpoint returns a generator which I can't see from the code above whether it is being fully consumed.

[2018-02-16 11:25] oodzee commented on #181
@facetoe I just tried and it just print 40 items Chat(id='[...]') without displaying any errors.

[2018-02-16 11:32] facetoe commented on #181
Yep, definitely a bug. I'll look into it. Thanks for the report.

[2018-02-17 08:41] facetoe commented on #197
It doesn't look like the incremental ticket API allows you to sideload comments, so you would have to request them for each ticket you are interested in, which could slow things down quite a lot. It does provide a comment_count value, so that might come in handy.

[2018-02-17 08:41] #197 closed

[2018-02-27 22:50] dlasusa commented on #93
Hi, I'm new to Github, Python and Zenpy, so please forgive any dumb as well syntax error while trying to ask this question (or if it should be a new question - since it was related to the post above I'm commenting here, let me know if it should go elsewhere)

Is the method listed above still the correct/working way to update custom user fields?

This works and returns expected values:
`for user in

[2018-02-28 10:44] facetoe commented on #93
Hi @dlasusa, thanks for the report. You are doing everything right, looks like this is a regression that snuck in at some point.

Until I can push a fix you can use the following workaround:

[code]

[2018-02-28 18:25] dlasusa commented on #93
@facetoe
That work workaround worked perfectly!!  Thank you!

[2018-02-28 21:22] dlasusa opened #200 "Fix issue where objects modified in a list are not sent to Zendesk in an update"
Not sure if this is the same as discussed in issue #93 but since it deals with tickets instead of users, I'm creating a new issue.

[code]

I seem able to update the object in Python, but it never gets written back to Zendesk.  No errors to report, exit code 0

[2018-03-01 05:25] facetoe commented on #200
Hi @dlasusa, you've managed to hit a bit of an obscure edge case which will need to be fixed. Short answer, reassign the field to the list:

[code]

It's nasty, it's dumb, it shouldn't be that way, but it will work for now.

Long answer, it has to do with incremental object updates. Basically, Zenpy used to send all the attributes of an object to Zendesk to be updated, even if they had not changed

[2018-03-01 16:07] dlasusa commented on #200
Ahh....gotcha.  Weird, but I get it.  Thanks for the workaround.  It does exactly what I need in the meantime.  Thanks!!

[2018-03-08 13:24] aesmat1 opened #201 "JIRA issues list"
Is there a way or a workaround to get the list of JIRA issues linked to Zendesk ticket?

[2018-03-13 04:44] allisonwang opened #202 "Add to_json() method to Zenpy objects"
I followed this example #156 with ticket but the returned JSON only has id field. Ticket here contains nested objects. I am wondering what could be issue here?
[code]

[2018-03-13 08:16] facetoe commented on #202
This will no longer work after the incremental update patch. Does `ticket.to_dict()` work for you?

[2018-03-13 21:02] allisonwang commented on #202
Using a different default function for `json.dumps` works for me!

[2018-03-14 10:32] facetoe commented on #202
Mind posting your solution? Could help others facing the same issue.

[2018-03-14 21:03] AaronTorgerson opened #203 "SearchEndpoint cannot handle args with '+' character"
I was testing the Zenpy client today with a gmail address that has a '+' character in it, and I couldn't figure out why it was returning no results. After some digging, I found this:

[code]

It seems to me that the issue is that the _args_ are not getting properly URL encoded, and the "+" in my email address is being interpreted as a space character in the query parameter. Furthermore, the [ZD AP

[2018-03-14 23:18] facetoe commented on #203
Zenpy uses the requests library under the hood, which will URL encode the search string. I'm guessing the issue you are facing comes from the fact the Zendesk uses the + character to separate search blocks. If you put the same search string in the Zendesk search box in the web app do you see the same behavior?

[2018-03-14 23:19] facetoe commented on #201
I'm not aware of any. There may be an API endpoint that allows you to interact with apps but I can't think of any off the top of my head sorry. It might be worth getting in touch with Zendesk and asking them if this can be done via the API.

[2018-03-14 23:19] #201 closed

[2018-03-14 23:21] facetoe commented on #202
I'm going to look at adding this functionality to the Zenpy objects as it seems like a pretty common thing people would want to do.

[2018-03-15 04:50] allisonwang commented on #202
Thanks! That would be really helpful. Here is my workaround:
[code]

[2018-03-15 08:06] AaronTorgerson commented on #203
I was wondering about that myself, however IIRC requests only does that for query parameter that you pass to it via kwargs. E.g: `requests.get('http://example.com/api', params={'thing1': 'true'})`. It seems not to URL encode query parameters that are already baked into the URL you pass to it, which is what this Search `EndpointFactory` is doing.

I turned on debug logging for urllib3 to see what t

[2018-03-15 08:17] AaronTorgerson commented on #203
Based on the examples in the [ZD API docs on this subject](https://developer.zendesk.com/rest_api/docs/core/search#syntax-examples), they separate the blocks by spaces, then go on to recommend that you URL encode the search string as a whole.  (Perhaps the guidance for using '+' to separate search blocks is outdated?) That would seem like a safer way to handle things in ZenPy, ensuring that all ar

[2018-03-15 08:39] facetoe commented on #203
Yep I think you're right. It might even be an ancient bug from when I implemented the endpoints and is only now showing up. I'll have a look at this on the weekend.

[2018-03-15 08:41] facetoe commented on #202
Cool thanks, I'll see if I can add this on the weekend.

[2018-03-16 03:38] nealdav commented on #153
I didn't see this until today. Will test, asap. Thank you!

[2018-03-16 04:00] nealdav opened #204 "SearchEndpoint - NameError: name 'ZENDESK_DATE_FORMAT' is not defined"
**v1.2.3**
`ZENDESK_DATE_FORMAT = "%Y-%m-%d"

    def __call__(self, *args, **kwargs):

        renamed_kwargs = dict()
        modifiers = list()
        sort_order = list()
        for key, value in kwargs.items():
            if isinstance(value, datetime):
                kwargs[key] = value.strftime(self.ZENDESK_DATE_FORMAT)`

**v1.2.6**
`    def __call__(self, *args, **kwargs):

        rena

[2018-03-21 12:25] facetoe commented on #204
Thanks for the report @nealdav, I'll push a patch.

[2018-03-21 12:27] #204 closed

[2018-03-22 07:18] agentroj opened #205 "How to bulk create group memberships?"
I would like to add user1 to groups grp1,grp2,grp3, and grp4. May I know how would i able to achieve this. I was able to create it but only for 1 user to 1 group. here's my sample:

zenpy_client.group_memberships.create(GroupMembership(user_id=19280596048,group_id=360000091268))

Thanks!

[2018-03-22 15:56] erinachavez opened #206 "Updating tags after ticket comment is added"
I'm trying to specifically update tags on a ticket after a comment is added to the ticket. According to Zendesk events it seems as if the comment and tags are being updated at the same time. Advice?

[code]

[2018-03-22 18:22] hyw opened #207 "Can't update identities"
I'm experiencing this error when trying to update a `phone_number` type identity for a given user.
[code]

The syntax I'm using to try and update an identity is:

[code]

[2018-03-22 19:33] facetoe commented on #207
Can you enable logging and post the output:

[code]

[2018-03-22 19:40] facetoe commented on #206
Well `zenpy_client.tickets.update` and `zenpy_client.tickets.delete_tags` are separate API calls, so they can't be happening at the same time. You can try setting the desired tags directly on the ticket object before calling `zenpy_client.tickets.update` and removing the `delete_tags` call:

[code]

[2018-03-22 21:29] hyw commented on #207
[code]

[2018-03-23 14:18] erinachavez commented on #206
Perhaps I'm just missing something dumb.

[code]
This is what is happening on the ticket...
![capture](https://user-images.githubusercontent.com/25967093/37834165-85a90e4a-2e83-11e8-8b9b-24b384c04f7f.PNG)

[2018-03-23 15:03] facetoe commented on #206
What version of Zenpy are you running? Anyway, I think I know what is happening here. Basically, when you create `this_ticket`, you get the state of the ticket as it was in that instant. Later, you modify the tags, however the `this_ticket` object holds the old state (ie, with all the tags). Finally, you add a comment to `this_ticket` and update it, along with the original tags. This has the effec

[2018-03-23 18:12] erinachavez commented on #206
Thanks for the advice! I decided to just use a combination of zdesk and zenpy. That eventually worked. Thanks again!

[2018-03-23 18:14] #206 closed

[2018-03-24 04:35] facetoe commented on #203
I haven't been able to reproduce this behavior but I've changed the code to use space as a separator instead of the '+' character. Let me know if you are still having issues after this change has been applied.

[2018-03-24 04:35] #203 closed

[2018-03-24 04:45] facetoe commented on #207
Thanks, I've patched this bug.

[2018-03-24 04:45] #207 closed

[2018-03-24 04:45] #205 closed

[2018-03-24 05:03] facetoe commented on #196
OK finally got a chance to look at this. I've patched the bug, your test code above now yields:

[code]

[2018-03-24 05:03] #196 closed

[2018-03-24 05:57] facetoe commented on #181
OK finally got a chance to fix this.

[2018-03-24 05:57] #181 closed

[2018-03-24 11:58] jdmarch commented on #196
Thanks @facetoe !

[2018-03-24 19:11] facetoe commented on #200
This has been fixed, and now updating elements inside a list should work as expected.

[2018-03-24 19:11] #200 closed

[2018-03-24 19:11] #93 closed

[2018-03-24 20:00] facetoe commented on #199
Looks like this is already supported, just need to pass a User object as the requester:

[code]

[2018-03-24 20:00] #199 closed

[2018-03-24 20:39] jdmarch commented on #199
Thanks @facetoe, confirmed.
For the record, if the user already exists, `name` is ignored.

[2018-03-26 16:59] hyw commented on #207
@facetoe thank you!

[2018-03-28 18:29] hyw commented on #207
@facetoe hey it seems that if I update a user's phone number, a new identity is added to the user's account. Could this be a bug due to the fix implemented for this?

For example, with this user.phone update:
[code]
You see that the user's phone is updated accordingly, but, the Zendesk UI actually shows a second phone number added to the system (as opposed to the desired behavior of updating the o

[2018-03-29 15:22] oodzee opened #208 "Some endpoints don't seem to work anymore"
Hi @facetoe,

After updating to 1.2.7 (I'm now able to retrieve all the chats, thanks!), some of my code is not working anymore:

This ticket_metric.first_resolution_time_in_minutes['business'] used to work but now it doesn't and raises the error:

I'm not sure if there is a way to fix that on my side or if this is a bug.

Also I noticed that some endpoints which used to work don't anymore (though

[2018-03-30 01:15] facetoe commented on #208
Thanks for the report @oodzee. The first one is a stupid bug that I've now fixed, and the second is the result of a refactor. For (I think) all endpoints, you can now pass either a ZenpyObject or the id, eg:

[code]
should both work. Previously this was only true of some endpoints so it is more consistent now.

I'll push a new version to PyPI with the bugfix.

[2018-03-30 01:27] facetoe commented on #18
I didn't have a Professional plan at the time so was unable to implement it. If this is a feature you'd like to see added I can have a look at implementing it when I get the chance.

[2018-03-30 01:52] facetoe commented on #207
Hmm I don't think this is a bug in Zenpy, just some surprising behavior in the Zendesk API. See https://developer.zendesk.com/rest_api/docs/core/users#phone-number. It looks like phone numbers are a bit of a special case.

I did a few tests with this and notice that each time the phone number is updated a new entry is shown in the UI, which does seem a bit strange. It might be worth reaching out t

[2018-03-30 08:34] scelen commented on #18
Thanks, definitely would like access to Dynamic Content.

[2018-03-30 12:45] Prodeguerriero opened #209 "Updating a macro throws exception"
Hi there.

First off, thanks for the great work. I am using zenpy extensively and it proves to be useful on a daily basis.

Now, to the problem. I am trying to download some macros, edit them and update Zendesk with the changes.

No matter what I try to do, I get an exception thrown at me. It appears as something might be going wrong with the conversion to JSON, but I am not sure. I even tried to

[2018-03-30 12:56] facetoe commented on #209
The code above fails as the macro object has not been modified and so it only sends the id to Zendesk, which for some reason causes it to fail:

You can see how the object will be serialized as follows:

[code]

If I modify the object, I don't receive any error:

[code]

Does the code above work for you or do you still get the exception?

[2018-03-31 16:27] Prodeguerriero commented on #209
Yup, editing the `title` attribute works fine. Actions are still giving me e headache, which was brought me to editing macros in the first place.

If I try the code below, the update succeeds because of the change to `title`, but `action.value` does not change.

[code]

The serialization results in the following:
[code]

[2018-04-01 02:08] facetoe commented on #209
OK I guess I missed the case where an object is modified while it is being iterated over. I've fixed this now. I have a few other bits and pieces to do and then I'll push a new version to Pypy.

Thanks for the report!

[2018-04-01 05:20] facetoe commented on #209
I've pushed a new version to Pypy.

[2018-04-01 21:34] Prodeguerriero commented on #209
Hi there,

Thanks for pushing the update. I just gave it a shot, but it still fails.
The serialization shows the action, so that appears to work, but the raised exception is now different:

[code]
If I print `vars(action)` before and after updating action.value, I get the following.
Before
`{'_dirty_attributes': {'_dirty_callback'}, '_dirty_callback': <function ProxyList._wrap_element.<locals>.dir

[2018-04-01 23:19] facetoe commented on #209
Gah, alright I've really fixed the bug now. Actions are now dicts and no longer objects. You can update an action like so:

[code]

Let me know if this works for you and I'll push a new version.

[2018-04-02 01:26] Prodeguerriero commented on #209
Almost there!

If I use
[code]
the stdout is
[code]
and everything is updated as expected.

If I iterate instead
[code]
the stdout is
[code]
and only the title is updated, as the serialization shows.

I honestly have no clue why the values don't seem to stick once the for loop is exited.

Back to you :)

[2018-04-02 11:36] Prodeguerriero commented on #209
Success!
Editing actions or removing them works as expected now. :)

Thanks much.

P.S. you should add a donation button ;)

[2018-04-02 19:48] Prodeguerriero commented on #209
I think I bumped into a similar problem with the restriction settings. I don't know it's worth marking a different issue, though, as it seem awfully similar to the previous issue.

Using the following:
[code]
here is what I get in return.
[code]
The serialization doesn't seem to pick up the change in the `restriction` attribute. If I try to update (without changing the title) I get the same except

[2018-04-03 10:44] facetoe commented on #209
Zenpy doesn't send attributes that are `None` to Zendesk, so at first I thought that was the issue. I tried changing your code as follows:

[code]

And it outputs:

[code]

However still throws the exception. I thought that was a bit funny so tried making the request with curl:

[code]

It still throws a 400. Looking through the curl output I noticed this strange line:

[code]

After a bit of digg

[2018-04-03 10:48] facetoe commented on #209
Ahh I just noticed that the `restrictions` typo was mine. Oh well, that was a fun trip down debugging lane all the same.

[2018-04-04 00:39] Axeish opened #210 "How can I do more with zenpy_client.views"
Hello,
There are two things that I am trying to do but not able to find a way to do it.

1. Count each tags in a view.
2. display views count

So far my zenpy client does is count total ticket through this line:
`zenpy_client.views.execute(324730048).count`

[2018-04-04 08:59] facetoe commented on #210
The best place to look is the Zendesk documentation - https://developer.zendesk.com/rest_api/docs/core/views. Zenpy wraps the Zendesk API in a one to one fashion, so you can checkout their docs and if you can find an API call that will suit your needs then call it from Zenpy.

So for example, the docs show that you can list active views - https://developer.zendesk.com/rest_api/docs/core/views#list

[2018-04-04 08:59] #210 closed

[2018-04-04 11:06] cpickard commented on #191
It looks the previous syntax to retrieve the audit entries for a ticket no longer works.

This is the syntax suggested in issue [#134]( #134 ):

[code]

In zenpy 1.2.5 this works as expected, in 2.0.1 it retrieves 1000 most recent audits.

[2018-04-04 12:46] facetoe commented on #191
Yes the keyword argument for this endpoint (and all others that were in the form `<object>_id`) has changed to just the object name. You can pass either an id or an object to the endpoint, eg:

[code]

or

[code]

Will both work. This is also true for the other endpoints that work in the same way, for example:

[code]

[2018-04-04 12:47] #191 closed

[2018-04-04 12:48] facetoe opened #211 "Update docs about keyword args"
The syntax has changed for second level endpoints. Update the docs and docstrings to reflect this.

Mentioned in #191

[2018-04-05 10:14] #209 closed

[2018-04-05 11:01] Prodeguerriero commented on #209
Sorry, haven't had the chance to test it yet.
I'll give it a shot asap.

Thanks!

On Thu, Apr 5, 2018, 12:14 Facetoe <notifications@github.com> wrote:

[2018-04-05 16:16] Prodeguerriero commented on #209
I confirm that I can now update the macros as expected. I did observe one thing that might be worth mentioning.
If use the code
[code]
I get in return
[code]
Which is what one would expect.

If I use
[code]
I then get
[code]

Note that if I change the condition of the if clause to only `macro.id == 49471956` the serialization output goes back to normal.

On a side note, quick question. I understan

[2018-04-08 02:03] facetoe commented on #209
OK I've fixed up that weirdness and will push a new version soon. With the other question, when you call `macros(<kwargs>)` the arguments are processed by an Endpoint, in this case the MacroEndpoint, which will format the parameters and send them of to Zendesk. In this case the API call executed is https://developer.zendesk.com/rest_api/docs/core/macros#list-macros, so any of the parameters listed

[2018-04-08 02:04] facetoe opened #212 "Improve documentaton of second level endpoints"
Raised in #209.

[2018-04-09 14:26] Ptr314 opened #213 "Organization & user fields support"
Could you please add an "organization_fields" property to the Zenpy class like "user_fields" is done.

Also it will be very useful to have a possibility to update user & organization fields.

[2018-04-09 22:54] facetoe commented on #213
Hi @Ptr314, this is already supported:

[code]

[2018-04-09 22:54] #213 closed

[2018-04-11 03:16] nealdav commented on #204
thank you!

[2018-04-12 08:57] flyingdutchman opened #214 "Get total number of Object"
Is it possible to get the total number of Objects in an API ?

A nice feature would be to have a zenpy_client.organizations.total(), .num() or size()

Thanks !

[2018-04-12 09:05] facetoe commented on #214
Yep this should work for any endpoint that returns a generator. So for example:

[code]

Hope this helps!

[2018-04-12 09:05] #214 closed

[2018-04-13 09:03] flyingdutchman opened #215 "User Identities Sideloading"
Hello !

I am trying to sideload User Identities to the a user call with:
`zenpy_client.users(include=['identities'])`

But I don't know how to access them. I have been looking into your documentation and there is no mention of an existing User Identity API even if, by the looks of it, it has been implemented in the code in some places.

Thanky you in advance

[2018-04-13 09:43] facetoe commented on #215
Yea the sideloading needs some work. Currently it us only really useful when including a linked attribute, for example Organizations. This is because the sideloaded object is cached,  preventing an extra API call when accessing the linked attribute. As an example, the following code does not need to generate an extra API call for the organization:

[code]
[code]

Whereas the following does:

[code

[2018-04-13 11:41] flyingdutchman commented on #215
Thank you very much for this complete answer !

So the code you're suggesting makes a new call for each user ?
I'll be better off using a for loop for all user identities instead of calling it with individual calls.

[2018-04-13 12:06] facetoe commented on #215
Yep that's right, each call to `zenpy_client.users.identities(id=user.id)` is going to over the network. Depending on what you are trying to do, you might be able to take advantage of the fact the identities are still in the cache:

[code]

Note that the caches are bounded, so you might need to tweak them a bit if you have a lot of users/identities.

You can see which API calls are being generated

[2018-04-13 12:37] flyingdutchman commented on #215
Well I'm currently working on a program that dumps all the data in Zendesk into a local DB.
The individual ticket calls take way to much time (~1s per ticket instead of 100t/s with sideloading). I'll give a try to your workaround.

It would be awesome if the sideloading feature could work in a way or another.
I'd gladly help, but I must say that I am not totally at ease with Python for now (could

[2018-04-13 12:51] facetoe commented on #215
If you are looking to dump a lot of data, have a look at the incremental endpoints - https://developer.zendesk.com/rest_api/docs/core/incremental_export. They allow you to retrieve 1000 objects per API call, and support sideloading some object types. If you have a bit of memory to play with, bumping up the cache max capacity tunables could speed things up quite a bit if you find a lot of API calls

[2018-04-13 12:53] facetoe opened #216 "Properly Support Sideloading"
There are two problems with the current implementation:
* It is not possible to specify sideloads in all places you would want to
* It is not possible to retrieve some sideloads (for example identities)

[2018-04-13 13:01] flyingdutchman commented on #215
Yes I use the incremental exports for my tickets as it is the only way to get the archived tickets.
I tried to get the incremental users with :
[code]
But apparently this Zenpy does not support sideloading on Incremental Exports.

No worries, thank you very much for the quick answers ! 👍

[2018-04-13 13:28] facetoe commented on #215
All good, I just submitted a patch to support sideloading for incremental endpoints. Just note that the include parameter must be a list of sideloads, eg: `zenpy_client.users.incremental(start_time=yesterday, include=['identities'])`

[2018-04-14 00:43] #215 closed

[2018-04-15 06:27] BFunk86 opened #217 "No comment_count on incremental export"
While using the incremental ticket export API I noticed that it doesn't include the comment_count attribute, which is a part of the JSON returned from the API

[2018-04-15 06:31] BFunk86 commented on #217
Sorry I realized I had included it with the side load option

[2018-04-15 15:34] Kilo59 commented on #213
I'm able to access the `organization_fields` property but I don't seem to be able to access the actual fields as they exist in our Zendesk instance.

![image](https://user-images.githubusercontent.com/13108583/38780178-9e30c3de-40a0-11e8-9227-6eed8a7bfb33.png)

![image](https://user-images.githubusercontent.com/13108583/38780043-f4ad6b38-409e-11e8-86cd-2292f9cf1336.png)

[2018-04-15 22:21] achiang opened #218 "Batch update users seems broken?"
[code]

This is coming from `CRUDRequest.put()`:

[code]

But `kwargs['update_many'] = True` is clearly not iterable.

Looking at the usages of `parameters` in `PrimaryEndpoint`, I think we don't need it for an `update_many` endpoint? In any case, this naive hack fixes my problem, and allows me to successfully batch update users, and get a `JobStatus` object.

[code]

[2018-04-16 07:05] facetoe commented on #217
Yep it is already supported in master, just need to push a new version to Pypi.

[2018-04-16 07:07] facetoe commented on #218
Yep, looks like a bug snuck in when refactoring that code a few weeks ago. I'll fix it up.

[2018-04-16 07:34] facetoe commented on #218
OK I've pushed a new version, thanks for the report!

[2018-04-16 07:34] #218 closed

[2018-04-16 07:34] facetoe commented on #217
OK I've pushed a new version.

[2018-04-16 07:34] #217 closed

[2018-04-16 07:34] facetoe commented on #213
Looks like you are using an older version of Zenpy, this issue was fixed a while back.

[2018-04-16 08:00] Ptr314 commented on #213
Yes, the newest version from Git has got this property but it is still impossible to get the LIST of available fields. If I call zenpy.organizations.organization_fields() I get an error "id is required" - I've inspected the source and if I just change the id parameter to be not required, it works fine - I can get the list of available organization fields.

[2018-04-16 08:11] facetoe commented on #213
Ahh, I misunderstood what you were asking. I will need to add support for that endpoint. To be sure, you are talking about these methods - https://developer.zendesk.com/rest_api/docs/core/organization_fields?

[2018-04-16 08:14] facetoe opened #219 "Support Organizational Fields"
https://developer.zendesk.com/rest_api/docs/core/organization_fields

[2018-04-16 08:14] facetoe commented on #213
I created an issue to add support - https://github.com/facetoe/zenpy/issues/219.

[2018-04-16 13:34] achiang commented on #218
Thanks!

[2018-04-17 15:44] lvisintini opened #221 "Problems with verify/make_primary User Identity endpoint"
There appears to be an error when trying to `verify` or `make_primary` an identity on zenpy==2.0.1

I would expect the following to work:
[code]
As I recall, the problem was that an integer parameter is expected when calling the function but and actual Identity object is expected at the time of making the request.

I'm sorry if I am dubious, but I'm not near a proper test environment to provide th

[2018-04-17 20:39] Axeish commented on #210
its not directly implemented but definitely there is a way to do it.

what i want to do instead is create a view with particular tag and then count it  and then update it with new tags

for example:

suppose i have a tag " issues1" , "issues2", "issues3", "question"

- create a view which contains all the issue in last 24 hours ( issue1,2,3)
- update it to see in last 48 hours
- update it so views

[2018-04-17 20:45] Axeish opened #222 "create and update view example"
what I want to do is create a view with particular tag and then count it and then update it with new tags

I am able to create a view but having issues in updating Condition in a view

[code]

I am trying to access this time value and change it from 360 to 80

[code]

Is there something i am missing?

[2018-04-17 21:03] Axeish opened #223 "show view"
How can I do the following from Zendesk API 👍

Show View
GET /api/v2/views/{id}.json

Allowed For:
Agents
Using curl
curl https://{subdomain}.zendesk.com/api/v2/views/{id}.json \
  -v -u {email}:{password}
Example Response
Status: 200 OK

{
  "view": {
    "id": 25,
    "title": "Tickets updated <12 Hours",
    "raw_title": "{{dc.tickets_updated_last_12_hours}}",
    "description": "View for recen

[2018-04-17 23:53] facetoe commented on #223
You can do this as follow:

[code]

[2018-04-17 23:53] #223 closed

[2018-04-17 23:54] facetoe commented on #222
Which version of Zenpy are you using?

[2018-04-17 23:55] facetoe commented on #221
Gah, looks like a bug. I'll have a look tonight.

[2018-04-18 07:03] Axeish commented on #222
zenpy 2.0.0

[2018-04-18 09:30] lvisintini commented on #221
Great. Thanks!

[2018-04-18 16:28] #222 closed

[2018-04-18 23:08] Axeish opened #225 "updating custom field in condition of a view is giving errors"
I have a view which has following condition:

[code]

I am trying to change/add Any part with this value

`{u'operator': u'is', u'field': u'custom_fields_46607348', u'value': u'VALUE2'}`

Although on update I am getting error as below. **I definitely have Group mentioned so not sure what is wrong here**

`    raise APIException(json.dumps(_json), response=response)
zenpy.lib.exception.APIException

[2018-04-18 23:39] facetoe commented on #225
Can you post the snippet that triggers the error and also let me know which version of Zenpy you are using?

[2018-04-19 01:29] Axeish commented on #225
I am using zenpy=2.0.2

here is the snippet :

[code]

[2018-04-22 04:52] facetoe commented on #221
OK fixed.

[2018-04-22 04:52] #221 closed

[2018-04-23 09:16] lvisintini commented on #221
Thank mate

[2018-04-24 12:35] lvisintini opened #227 "users.create_or_update_many fails with APIException:"InvalidEndpoint""
Trying to update/create many users at the same time is failing:

[code]
results in

``APIException: {"error": "InvalidEndpoint", "description": "Not found"}``

Apparently, the zenpy is trying to interact with zendeks on the following: api/v2/users/create_or_update_many.json**.json**

Notice the extra **.json** suffix.

This is happening in zenpy==2.0.1

[2018-04-25 09:05] facetoe commented on #225
OK I think I have fixed this. Can you test and let me know if you still encounter these errors?

[2018-04-25 09:09] facetoe commented on #227
Thanks for the report @lvisintini, I've pushed a patch.

[2018-04-25 09:09] #227 closed

[2018-04-25 12:54] lvisintini opened #229 "New release please?"
Hi there,

Any change we could have a new release?

I obviously would not want to interfere with any release schedule that may be in place, but I'm very keen on  seeing https://github.com/facetoe/zenpy/commit/e9ae5bce8e739cb9676b1c539521302508af7b8e make it's way to pip.

Apologies if this is annoying or out of line

Cheers

[2018-04-25 13:08] facetoe commented on #229
Hi @lvisintini, yes I can create a new release. I just need to do a bit more testing to ensure my patch for #225 doesn't break anything. Should be good to push one out tomorrow.

[2018-04-26 12:09] lvisintini commented on #229
Thanks make. Looking forward to it.

[2018-04-26 13:48] mirceaciu commented on #47
great and usefull wrapper, but I have troubles using Oauth for chat.
I've created a zendesk account and used Zenpy to login with mail and password and was able to create tickets.

I've created Oauth 'client' in zendesk Api settings page, got the secret_key and tried using it inside the previous script with `oauth_token`, but i get the `invalid_token` error.  Am I missing something?

[2018-04-26 15:32] facetoe commented on #47
Yep, your normal Zendesk OAuth token won't work for chat. I think I used this page to configure OAuth for chat - https://support.zendesk.com/hc/en-us/articles/115010760808-Generating-a-REST-API-token-for-integrated-Chat-accounts.

[2018-04-27 12:12] mirceaciu commented on #47
That article helped. I got a new token manually, hope those steps can be scripted.
Either way, Zenpy ChatApi works!

[2018-04-29 04:53] facetoe commented on #229
Ok new version released.

[2018-04-29 04:53] #229 closed

[2018-04-29 04:53] #225 closed

[2018-04-30 19:36] aesmat1 opened #230 "Support for Jira Integration API"
https://developer.zendesk.com/rest_api/docs/services/jira

[2018-05-01 21:46] gutdraw opened #231 "merge command on tickets hitting api exception"
it seems zendesk api may have shifted data types or something

zenpy_client.tickets.merge(source=22598883,target=22597915,target_comment="",source_comment="test")

APIException                              Traceback (most recent call last)
<ipython-input-66-ad6cc9ae4ed2> in <module>()
      1
----> 2 zenpy_client.tickets.merge(source=22598883,target=22597915,target_comment="",source_comment="test"

[2018-05-03 11:45] facetoe commented on #230
I don't have an environment to develop against so it's a but tricky to implement.

[2018-05-03 15:47] manda986 opened #232 "Not able to create a private Ticket"
Hi there! I'm looking to create a private Ticket on behalf of a user. However, it seems that calling the `tickets.create()` method with `is_public=False` doesn't set that field, and it ends up sending an email to that user (which I don't want). I want to avoid having to set a submitter. Here's a sample call:

[code]

Thanks in advance!

[2018-05-04 10:25] facetoe commented on #232
Hi,

You can achieve this as follows:

[code]

Hope this helps.

[2018-05-04 10:25] #232 closed

[2018-05-04 10:29] facetoe commented on #232
BTW, `is_public` is read only and means something a bit different (https://developer.zendesk.com/rest_api/docs/core/tickets):

[2018-05-10 17:24] boknows opened #233 "passing a empty string for `email` field in search API does bad things"
We encountered this bug yesterday.  It turned out that one of our clients had an empty string set as their email.  When we went to a page on our site that fetches Zendesk tickets for that client, Zenpy took the empty string and took that to mean "Get ALL tickets for ALL clients".  This ground our webserver to a halt.

[2018-05-10 17:56] facetoe commented on #233
Can you provide the search that you are using?

[2018-05-10 18:41] boknows commented on #233
`for ticket in zendesk_api.search(
  email,
  type='ticket',
  sort_by='updated_at',
  sort_order='desc'):`

[2018-05-10 18:42] boknows commented on #233
We're passing in `email` from the User object in our system.  This particular time, it was an empty string (which is a bit of bad practice on our part).

[2018-05-20 05:15] facetoe commented on #233
I don't think this is a bug in Zenpy, it formatted the parameters correctly and passed them through to Zendesk. If you enter the equivalent query in the search bar in Zendesk you get the same result: "type:ticket order_by:created sort:desc".

So maybe a bit unexpected, but not a bug :)

[2018-05-20 05:15] #233 closed

[2018-05-20 05:26] facetoe commented on #231
OK fixed, was a bug in Zenpy.

[2018-05-20 05:26] #231 closed

[2018-05-21 07:29] breki opened #234 "end_user() uses a wrong endpoint"
end_user() method uses `users` endpoint, but it should be `end_users` (see [EndUser docs](https://developer.zendesk.com/rest_api/docs/core/end_user)).

Why is this important? The end users do not have access to `users` endpoint in Zendesk REST API (only agents do), so an end user must use `end_user` endpoint to access and modify their data. Right now that is not possible using Zenpy.

[2018-05-21 11:49] facetoe commented on #234
Thanks for the report @breki, I've fixed up the bug.

[2018-05-21 11:49] #234 closed

[2018-05-23 05:04] gutdraw commented on #231
thanks much and i presume version 2.04 in PyPi contains the fix?

[2018-05-29 07:30] RafaelAMello commented on #219
This would be really convenient to have!
Currently need to make a seperate request to check if organization fields have updated - love to see this endpoint supported 💯

[2018-05-29 20:23] asherkinyon opened #235 "Duplicate tickets in SearchResultGenerator"
I'm having a problem with zenpy ticket searches yielding duplicate tickets.

When I feed the search generator a query, for instance:

`results = zenpy.search(query="tags:testing_123 status:open", type='ticket')`

it returns a SearchResultGenerator that has the correct, expected `count` attribute (e.g. 40 unique tickets).

However, when I iterate over the SearchResultGenerator using a standard for